.menu-list.menu-tb.menu-align-center{
    text-align: center;
}
.newsletter-sidebar {
    display: none;
}

.tb_footer h3 {
    color: rgba(79, 79, 79, 0.86);
}
.wpb_wrapper > .wpcf7 {
    overflow: hidden;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    max-width: 450px;
    float: right;
    border: 2px solid #2b2823;
}
.tb_footer h3 ,.tb_footer.tb_footer_v2 .footer-bottom .textwidget, .tb_footer.tb_footer_v3 .footer-bottom .textwidget{
    color:white
}
.tb_footer.tb_footer_v2 .footer-bottom, .tb_footer.tb_footer_v3 .footer-bottom {
    
    background: url("https://stmed.net/sites/default/files/vines-wallpapers-28093-7097179.jpg");
    padding: 40px;
}
.wpcf7 .wpcf7-submit {

    background: #121311;
    border: 0;
}
.wpb_wrapper > .wpcf7 label{
    width: 100%;
}
.wpb_wrapper > .wpcf7 input,.wpb_wrapper > .wpcf7 textarea{width: 100%}
.wpcf7 .wpcf7-submit {
    float: left;
    margin-top:30px;
}
.tb-header-v2 .col-logo img, .tb-header-shop .col-logo img {
    max-width: 550px;
}

.sticker{
    position: fixed;
    bottom: 5px;
    right: 5px;
}


span.wpcf7-list-item input[type=radio]{
    display: inline-block;
    float: left;
    width: 30px;
}
span.wpcf7-list-item {
    width: 100%;
    margin: 0;
}

.tb-decs-service h2{
    font-size: 20px;
    font-weight: bold;
    color: #6cb31f;
}
.tb-decs-service h3 {
    font-size: 29px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 30px;
}
@media (min-width: 1366px){

    .footer-bottom .row > .col-sm-12.col-md-6:nth-child(1){
        padding-left: 200px;
    }
    .footer-bottom .row > .col-sm-12.col-md-6:nth-child(2){
        padding-left: 100px;
    }
}
@media (min-width: 768px){

    #nav {
        width: 943px;
        display: inline-block;
    }
}
@media (max-width: 768px){
    .wpb_wrapper > .wpcf7 {
        max-width: calc(100% - 60px);
        float: none;
        margin: 0 auto;
    }
    #tb_back_to_top.active {
        bottom: 75px !important;
    }
}