/*
Theme Name: Aqua
Theme URI: http://aqua.jwsuperthemes.com
Author: JWSThemes
Author URI: http://themeforest.net/user/jwsthemes
Version: 3.1.6
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Description: Aqua is a modern, gorgeous, thoroughly responsive WordPress spa and beauty WooCommerce website theme. Aqua is well-designed, malleable, minimalist and modular, best suite for spas, hair salons, barber shops, wellness centres, yoga classes, any and all health care business websites. Pre-designed skins that can be further customized with powerful theme options convert your Aqua website into your business carefully, tastefully branded online foothold within minutes.
Text Domain: aqua
--------------------------------------------------------------
Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:
$rembase:     14;
$line-height: 24;
---------- Examples
* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)
* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)
---------- Vertical spacing
Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:
.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}
---------- Further reading
http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/
/* =Reset-------------------------------------------- */
/* STYLE GENERAL */
body{
	.bg_primary{background-color: @tb_primary_color;}
	.primary_color{color: @tb_primary_color;}
	.btn_primary{
		background-color: @tb_primary_color;
		&:hover{
			background-color: @tb_primary_color;
		}
	}
}
.error404-wrap-aqua{
	 background-size: 100% 100%;
	 background-image: url('assets/images/image-404-01.png');
	 margin:5% 0%;
	 height: 620px;
	 position:relative;
}
.error-code-aqua{
	font-size: 55px;
	font-weight: bold;
}
.content-404-aqua{
	left: 25%;
	position: absolute;
	text-align: center;
	top: 35%;
	width: 30%;
}
.btn-404-aqua{
	margin-top: 2%;
	width: 30%;
	background: #84c340;
	color: #fff;
}
.ro-hr {
    border-top: 1px solid #aaaaaa;
}
.inline_middle > .container > .row > .wpb_column{
	font-size: @tb_body_font_size;
}
a {
    -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
a:hover,
a:target,
a:focus{
	outline: none;
	color: @tb_primary_color;
}
input:focus, input:target,
textarea:focus, textarea:target,
select:focus, select:target{
	border-color: @tb_primary_color;
}
button, input[type="button"], input[type="button"]{
	border: solid 1px;
	&:hover{
		background: @tb_primary_color;
		color: #FFF;
	}
}
button:not(.wpb_button):hover,  
btn:hover, 
input[type="button"]:hover, input[type="submit"]:hover,
.btn:hover{
	background: none;
}
mark {
    background: none repeat scroll 0 0 @tb_primary_color;
    border-radius: 3px;
    color: #fff;
    padding: 2px 6px;
}
.icon-basic-heart.fa-heart{
	background: #444444;
}
.tb-post-list {
	.tb-post-side {
		margin-bottom: 20px;
		.tb-post-side-img {
			float: left;
			height: 55px;
			opacity: 1;
			width: 90px;
			overflow: hidden;
			transition: all 0.4s ease-in-out 0s;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			-o-transition: all 0.4s ease-in-out 0s;
			&:hover {
				opacity: 0.7;
			}
		}
		.tb-post-side-ct {
			margin-left: 100px;
			position: relative;
			top: -6px;
			a {
				color: #444444;
				transition: all 0.3s ease-in-out 0s;
				-webkit-transition: all 0.3s ease-in-out 0s;
				-moz-transition: all 0.3s ease-in-out 0s;
				-o-transition: all 0.3s ease-in-out 0s;
				&:hover {
					color: #84c340;
				}
			}
			.date {
				color: #bdbdbd;
				display: block;
				font-style: italic;
				font-weight: 400;
			}
		}
	}
}
.admin-bar{
	.header-up{
		top: 32px !important;
	}
}
.col-logo{
	line-height: 0;
	.tb-header-v2 & img,.tb-header-shop & img{
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.tb-header-v1 & img{
		margin-left: auto;
		margin-right: auto;
		display: block;		
	}
}
.tb-header-wrap{
	&.tb-header-v1{
		padding: 20px 0;
	}
	&.tb-header-v2, &.tb-header-shop{ 
		text-align: center;
		padding-top: 50px;
	}
	&.tb_header_fixed{ 
		width: 100%;
		position: absolute;
		top: 40px;
		z-index: 999;
		.col-logo{
			z-index: 99;
		}
		.col-menu{
			text-align: center;
			z-index: 99;
		}
	}
	&.tb-header-v1.tb_header_fixed .menu-list{
		background-color: rgba(255, 255, 255, 0.5);
	}
	&.tb-header-shop{
		.header-menu-inner{
			border-bottom: 1px solid #aaaaaa;
			border-top: 1px solid #aaaaaa;
			display: inline-block;
			.textwidget{
				padding: 15px 0;
			}
		}
		.menubar-brand {
			border: 2px solid #444444;
			display: inline-block;
			height: 80px;
			margin: 50px 0;
			padding: 10px 15px;
			text-align: center;
			img{
				height: 100%;
				width: auto;
			}
		}
	}
	.widget_search{
		margin-bottom: 0;
		.search-form{
			.screen-reader-text, 
			.search-submit{ 
				display: none; 
			} 
			.search-field{
				margin-bottom: 0;
				border: none;
				background: transparent;
				&:focus{
					background: #FAFAFA;
				}
			}
			label{
				width: 100%;
				max-width: 250px;
				position: relative;
				&:after{
					content: "\f002";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 18px;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}
			}
		}
	}
	.widget_mini_cart_wrap {
		position: relative;
	}
	.widget img {
		width: auto;
	}
	&.tb-header-v8{
		.widget_search{
			margin-bottom: 0;
			.search-form{
				.search-submit{ 
					display: inline-block;
					position: relative;
					text-indent: -99999px;
					border: none;
					background: transparent;
					width: 40px;
					height: 47px;
					float: left;
					border-bottom: 1px solid #e6e6e6;
				}
				label{
					display: inline-block;
				}
			}
		}
	}
}
#nav > li.tb_logo_fixed{
	display:none;
	>a{display:none;}
}
@media(min-width:@screen-md){
	.tb-stick-active{
		.tb-header-wrap.tb_stick_header{
			.easing-animation-long;
			background-color:rgba(255,255,255,0.9);
			position: fixed;
			top:initial;
			z-index:999;
			width: 100%;
			webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
			box-shadow: 0 6px 12px rgba(0,0,0,0.175);
			padding: 5px 0;
			.col-logo img {
				.easing-animation-long;
				max-width: 180px;
			}
			&.tb_header_fixed{
				background-color: fadeout(#000, 10);
				.menu-list{
					background-color:transparent;
				}
				#nav > li > a{
					color:#fff;
					&:after{
						border-color:#fff;
					}
				}
				.widget_mini_cart_wrap .header a.icon_cart_wrap{
					color:#FFF;
				}
			}
			&.tb-header-v4{
				padding: 0;
				.header-menu{
					.menubar-inner >.container:after{
						webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
						box-shadow: 0 6px 12px rgba(0,0,0,0.175);
					}
					#nav > li > a{
						padding: 30px 0;
					}
				}
			}
			&.tb-header-v7,&.tb-header-v1{
				top: initial;
				background-color: fadeout(#fff, 10);
				.menu-list{
					background-color:transparent;
				}
				#nav > li > a{
					color:#444;
					&:after{
						border-color:#444;
					}
				}
				.widget_mini_cart_wrap .header a.icon_cart_wrap{
					color:#444;
				}
			}
			&.tb-header-v6{
				.header-menu{
					&:after{
						display: none;
					}
					.menubar-inner >.container:after{
						box-shadow: none;
					}
				}
			}
		}
	}
	.tb-stick-active{
		.tb_stick_header{
			&.tb-header-shop{
				padding-top:10px;
				.header-sidebar{
					display:none;
				}
			}
			&.tb-header-v2{
				padding-top: 10px;
				.header-sidebar{
					display:none;
				}
				#nav > li.tb_logo_fixed{
					display: table-cell;
				}
				#nav > li{
					width: initial;
				}
			}
		}
	}
}
.header-sidebar{
	.sidebar-top-left,.sidebar-top-right{  
		display: inline-block;
	}
	.sidebar-top-left{
		ul{
			li{
				display: inline-block;
				position: relative;
				&:after{
					content: "";
					background: #FFF;
					border-radius: 50%;
					height: 3px;
					position: absolute;
					right: -4px;
					top: ~"calc(50%)";
					width: 3px;
				}
				&:last-child{
					&:after{
						background: none;
					}
				}
				a{
					color: #fff;
					display: inline-block;
					font-size: 13px;
					margin: 4px 12px;
					line-height: 33px;
					i{
						font-size: 16px;
					}
				}
			}
		}
	}
	.sidebar-top-right{
		text-align: right;
		ul{
			li{
				display: inline-block;
				position: relative;
				a{
					color: #fff;
					display: inline-block;
					font-size: 13px;
					margin: 4px 12px;
					line-height: 33px;
					i{
						font-size: 16px;
					}
				}
			}
		}
	}
}
.widget_tb_new_tabs_widget{
	.nav-tabs{
		border: none;
		text-align: center;
		li{
			margin-right: 10px;
			display: inline-block;
			float: none;
			overflow: hidden;
			border-radius: 20px;
			z-index: 2;
			a{
				border-color: #D3D3D3;
				color: #D3D3D3;
				border-radius: 0;
				line-height: 20px;
				padding: 6px 12px;
				border-radius: 20px;
				text-transform: capitalize;
				&:hover{
					background: none;
				}
			}
			&.active a{
				border: solid 1px @tb_primary_color;
				color: @tb_primary_color;
			}
		}
	}
	.tab-content{
		margin-top: 30px;
		border: none;
		.tab-pane{
			.news-list{
				margin: 0;
				padding: 0;
			}
			&.active{
				animation: slideUp .3s;
				-webkit-animation: slideUp .3s;
			}
		}
	}
}
.tb-left{
	.tb-blog.default{
		position: relative;
		.tb-blog-image {
			width: 50%;
			position: relative;
		}
		.tb-content-block{
			padding: 50px 40px 50px 60px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			.blog-desc {
				height: 105px;
				overflow: hidden;
				text-overflow: ellipsis;
			} 
			&:before{
				border-bottom: 20px solid transparent;
				border-right: 26px solid #abdce1;
				border-top: 20px solid transparent;
				content: " ";
				height: 0;
				left: -25px;
				position: absolute;
				top: 60px;
				width: 0;
			}
			h2.blog-title a {
				font-style: italic;
			}
			h2.blog-title, .blog-desc, .blog-info{
				padding: 0;
			}
			h2.blog-title:after{
				margin-left: 0 !important;
			}
		}
	} 
}
.tb-right{
	.tb-blog.default{
		position: relative;
		.tb-blog-image {
			width: 50%;
			position: relative;
			float: right;
		}
		.tb-content-block{
			padding: 50px 40px 50px 60px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			.blog-desc {
				height: 105px;
				overflow: hidden;
				text-overflow: ellipsis;
			} 
			&:before{			
				border-bottom: 20px solid transparent;
				border-left: 26px solid #d9d8c1;
				border-top: 20px solid transparent;
				content: " ";
				height: 0;
				position: absolute;
				right: -25px;
				top: 60px;
				width: 0;
			}
			h2.blog-title a {
				font-style: italic;
			}
			h2.blog-title, .blog-desc, .blog-info{
				padding: 0;
			}
			h2.blog-title:after{
				margin-right: 0 !important;
			}
		}
	} 
} 
.tb-blog{
	&.entry{
		article{
			margin-bottom: 30px;
			position: relative;
			.shortcode-video{
				padding: 0 !important;
				background: none !important;
			}
			.tb-content-block{
				position: absolute;
				width: 80%;
				height: 80%;
				left: 10%;
				top: 10%;
				text-align: center;
				opacity: 0;
				transform: rotate(-10deg);
				-webkit-transform: rotate(-10deg);
				transition: .4s;
				-webkit-transition: .4s;
				.blog-title,.blog-desc,.blog-info{
					position: relative;
					p{
						text-align: justify;
					}
				}
				.blog-title{
					position: absolute;
					top: 47%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					-webkit-transform: translate3d(-50%, -50%, 0);
					-ms-transform: translateX(-50%) translateY(-50%);
					width: 100%;
					a{
						font-size: 16px;
						position: relative;
						text-transform: uppercase;
						letter-spacing: 3px;
						color: #444;
						&:after{
							content: "";
							position: absolute;
							width: 30px;
							height: 1px;
							left: 50%;
							transform: translateX(-50%);
							-webkit-transform: translateX(-50%);
							bottom: -10px;
							border-bottom: solid 1px;
						}
					}
				} 
				.blog-info,.blog-info a{
					font-size: 13px;
				}
				.blog-info{
					color: #d0d0d0;
					overflow: hidden;
				}
				.tb-social-buttons{
					padding: 10px 0;
				}
				.tag-links{
					a{
						border: 1px solid;
						border-radius: 2px;
						display: inline-block;
						line-height: normal;
						margin-right: 2px;
						padding: 0 5px;
						&:hover{
							color: #FFF;
						}
					}
				}
				.about-author{
					padding: 20px;
					margin-top: 20px;
					background: #FAFAFA;
					border-top: solid 2px @tb_primary_color;
					.author-avatar{
						width: auto;
						display: inline-block;
						width: 160px;
						vertical-align: top;
						line-height: 0;
						img{
							width: 100%;
							border-radius: 50%;
						}
					}
					.author-info{
						width: ~"calc(100% - 180px)";
						display: inline-block;
						padding-left: 30px;
						.subtitle{
							font-size: 12px;
						}
						.name{
							text-transform: uppercase;
							font-weight: bold;
						}
					}
				}
			}
			&:hover{
				.tb-content-block{
					opacity: 1;
					transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				.tb-blog-image{
					img{
						transform: rotate(10deg) scale(1.3);
						-webkit-transform: rotate(10deg) scale(1.3);
					}
				}
			}
			blockquote{
				font-style: italic;
			}
		}
	}
	&.space{
		> div{
			article{
				max-width: 270px;
				margin: 0 auto 30px auto;
			}
			.tb-content-block{
				background: rgba(255,255,255,0.7);
			}
			&:nth-child(2n+1){
				.tb-content-block{
					background: rgba(198,217,198,0.7);
				}
			}
		}
	}
	&.default{
		article{			
			> div{
				width: 50%;
				float: left;
			}
			.tb-content-block{
				padding: 40px 0;
				position: relative;
				> div, > h2{
					padding: 0 40px;
				}
				h2.blog-title{
					margin-bottom: 30px;
					a{
						text-transform: uppercase;
						font-style: normal;
						color: #fff;
					}
					position: relative;
					&:after{
						border-top: 2px solid #ffffff;
						content: " ";
						display: block;
						height: 0;
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;
						width: 30px;
					}
				}
				.blog-info{
					font-size: 14px;
					font-style: italic;
					font-weight: 400;
					margin-top: 30px;
					text-align: right;
					span{
						display: inline-block;
						vertical-align: top;
						&:after{
							content: "/";
							padding: 0 20px;
						}
						&.comments-number:after{
							content: "";
						}
					}
				}
			}
		}
	}
	&.direction_left{
		article{
			> div{
				float: right;
			}
			.tb-content-block{
				.blog-title{
					text-align: right;
				}
			}		
		}
	}
}
.tb-blog{
	.tb-blog-image{
		overflow: hidden;
		&.team-single{
			box-shadow: none;
			border: 0;	
		}
		.colorbox-wrap{
			display: none !important;
		}
		img{
			transform: rotate(0deg) scale(1);
			-webkit-transform: rotate(0deg) scale(1);
			transition: 8s;
			-webkit-transition: 8s;
		}
	}
	.team{
		.tb-content-block{
			margin-top: 0 !important;
			margin-bottom: 20px;
			.blog-info{
				margin-top: 10px;
			}
		}
	}
	&.testimonial{
		.blog-title a{
			font-size: 16px;
			text-transform: uppercase;
		}
		article{
			margin: 0;
			padding: 50px 40px 0 40px;
			&:after{
				border-bottom: 1px solid #aaaaaa;
				content: "";
				display: block;
				margin: 50px auto 0 auto;
				width: 80%;
			}
		} 		
	}
	.navigation{
		margin-bottom: 20px !important;
	}
	.pagination.ajax{
		padding: 70px 0;
		margin: 0;
		transition: opacity .4s;
		-webkit-transition: opacity .4s;
		&.blog-more-ajax-loading{
			opacity: .5;
			pointer-events: none;	
			background: url('assets/images/loading-animate.gif') center center no-repeat;
		}
		a{
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
}
.tb-pos-bottom {
    bottom: 0;
    position: absolute;
	width: 100%;
}
.line-end{
	display: none !important;
}
.tb-blog-content-outer{
	padding: 50px 0;
	.ro-post-relate{
		img{
			margin-bottom: 30px;
		}
		float: right;
		max-width: 200px;
	}
}
.post-template-basic-php{
	.tb-blog{
		.blog-info{
			text-align: right;
			margin-top: 25px;
			margin-bottom: 25px;
			 >span{
				 margin-left: 55px;
				 a{
					 color: @tb_primary_color;
				 }
			 }
		}
	}
}
.tb-blog{
	> .row{
		margin-bottom: 20px;
	}
	.post{
		&.sticky{
			background: #e1e1e1;
			color: #000000;
			padding: 30px;
			position: relative;
			.blog-title{
				color: @primary_color;
				a{ color: @primary_color;}
			}
			a{ color: @primary_color;}
			.divider-1{
				span{
					background: #e1e1e1;
					i{
						color: #FFFFFF;
					}
				}
			}
			&:after{
				width: 70px;
				height: 70px;
				position: absolute;
				text-align: center;
				content: "";
				top: -35px;
				right: -35px;
				z-index: 1;
				border: 35px solid transparent;
				border-left-color: #000000;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
			&:before{
				content: "\f08d";
				position: absolute;
				top: 5px;
				right: 10px;
				z-index: 2;
				color: #FFFFFF;
				font-family: 'FontAwesome';
			}
		}
	}
	.tb-blog-image{
		line-height: 0;
		position: relative;
		.blog-note{
			position: absolute;
			top: 35px;
			left: 35px;
			padding: 15px;
			width: 242px;
			border: 1px solid #AAAAAA;
			background: rgba(255, 255, 255, 0.7);
			font-size: 18px;
			.blog-note-texts{
				font-style: italic;
				margin: 20px 12px;
				line-height: 25px;
			}
			.blog-note-top{
				position: absolute;
				right: 15px;
				font-size: 18px;
				line-height: 18px;
			}
			.blog-note-bottom{
				position: absolute;
				right: 15px;
				font-size: 18px;
				line-height: 18px;
				bottom: 15px;
			}
		}
	}
	&.blog{
		article{
			border-bottom: 1px solid #444;
			.blog-title{
				font-size: 36px;
				margin-bottom: 50px;
				margin-top: 60px;
				font-style: italic;
			}
			.tb-content-block{
				margin-top: 30px;
			}
			.blog-info{
				text-align: right;
				margin-top: 25px;
				margin-bottom: 25px;
				 >span{
					 margin-left: 55px;
					 a{
						 color: @tb_primary_color;
					 }
				 }
			}
			.shortcode-video{
				background: #000;
				padding: 7px;
			}
		}
		.row{
			&:first-child{
				.blog-title{
					margin-top: 0;
				}
			}
		}
	}
}
.title-bar, .woocommerce .title-bar-shop{
	padding: @tb_title_bar_padding;
	margin: @tb_title_bar_margin;
}
.title-bar, .woocommerce .title-bar-shop{
	color: #fff;
	h1,h2,h3,h4,h5,h6{
		color: #fff;
	}
	a{
		color: @tb_title_bar_link_color;
		&:hover{
			color: @tb_title_bar_link_color_hover;
		}
	}
	.page-title{
		margin: 0;
		padding: 0;
		font-weight: 600;
		line-height: 30px;
		font-size: 32px;
		text-transform: uppercase;
		color: #fff;
	}
	.page-breadcrumb, .woocommerce-breadcrumb{
		text-align: right;
		margin-bottom: 0;
		a{
			color: #fff;
			&:hover{
				color: @tb_title_bar_link_color_hover;
			}
		}
		span.current{
			color: @main-color;
		}
	}
	&.tpl2{
		text-align: center;
		.page-breadcrumb, .woocommerce-breadcrumb{
			text-align: center;
		}
		.page-title{
			font-size: 55px;
    		line-height: normal;
    		display: inline-block;
    		position: relative;
    		border-top: 2px solid;
    		border-bottom: 2px solid;
    		margin-bottom: 20px;
    		text-transform: uppercase;
		}
	}
}
@media (max-width: 767px) {
	.title-bar, .woocommerce .title-bar-shop{
		
		.page-title, .page-breadcrumb, .woocommerce-breadcrumb {
			text-align: center;
		}
		.page-title {
			margin-bottom: 10px;
		}
	}
}
.col-middle{
	line-height: 30px;
}
.post-navigation{
	.nav-links{
		text-align: right;
		.nav-previous ,.nav-next {
			display: inline-block;
			margin-left: 20px;
			.btn{
				display: inline-block;
				vertical-align: top;
				font-weight: 300;
				border-radius: 50px;
			}
		}
	}
}
.comments-area{  
	margin-top: 75px;
	.comments-title{
		margin: 0;
		font-weight: normal;
		font-size: 24px;
	}
	>span{
		margin-bottom: 33px;
		display: inline-block;
	}
	.comment-list{
		padding-left: 0;
		li{
			padding: 0 !important;
			border-top: none !important;
			&:not(:last-child){
				.comment-body{
					margin-bottom: 10px;
				}
			}
			.comment-body{
				position: relative;
				background-color: #f7f7f7;
				.comment-avatar{
					position: absolute;
					left: 30px;
					top: 30px;
					border: 8px solid #fff;
					img{
						max-width: 105px;
						display: block;
						margin: 0;
					}
				}
				.comment-info{
					position: relative;
					padding-left: 185px;
					padding-top: 30px;
					h4{
						letter-spacing: initial;
						margin-bottom: 22px;
					}
					.comment-footer .comment-meta, .comment-footer .reply{
						text-align: right;
						text-transform: initial;
						font-size: 14px;
						font-style: italic;
						display: inline-block;
						vertical-align: top;
						a{
							color: @tb_primary_color;
						}
					}
					.comment-footer .reply{
						margin-left: 5px;
						a{
							color: #444;
							font-size: 30px;
							&:hover{
								color: @tb_primary_color;
							}
						}
					}
					.comment-footer{
						text-align: right;
					}
				}
			}
		}
		ol.children{
			padding:0;
			margin-left: 50px;
			@media(min-width: @screen-lg){
				margin-left: 100px;
			}
			.comment-body{
				margin-top: 10px;
			}
		}
	}
}
.comment-reply-title{
	text-transform: uppercase
}
.comment-form{
	margin: 50px 0;
	p{
		line-height: normal;
		margin-top: 15px;
		&.comment-form-author, &.comment-form-email{
			width: ~"calc(50% - 10px)";
			display: inline-block;
			margin-top: 0;
		}
		&.comment-form-email{
			margin-left: 15px;
		}
		label,textarea,input{
			width: 100%;
		}
		& label{
			margin-bottom: 5px;
		}
		&.comment-form-url{
			margin-right: 0;
			width: ~"calc(100%/3)";
		}
		&.form-submit{
			text-align: right;
			.submit{
				display: inline-block;
				width: initial;
				padding: 10px 40px;
				background: @tb_primary_color;
				border: none;
				color: #FFF;
				margin: 0;
				&:hover{
					background: #444;
				}
			}
		}
	}
}
@media (max-width: 361px){
	.comment-form{
		p.comment-form-email{
			margin-left: 0;
		}
	}
}
.pagination{
	width: 100%;
	padding-top: 30px;
	.page-numbers{
		border: 1px solid #f4f4f4;
		border-radius: 0px;
		display: inline-block; 
		line-height: normal;
		margin-left: 5px;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		vertical-align: top; 
		color: #555555;
		&:hover{ 
			border-color: @tb_primary_color;
			color: #FFF; 
			background: @tb_primary_color;
		}
		&.current{
			border-color: @tb_primary_color;
			color: #fff;
			background: @tb_primary_color;
			&:hover{
				background: @tb_primary_color;
			}
		}
		&.dots{
			border-color: transparent;
		}
	}
	a.next,a.prev{
		background-color: #555;
		color: #fff;
		border-color: #555;
	}
}
.tb_footer{
	/* footer-top */
	color: #aaa;
	h3{
		color: #fff;
	}
	.footer-top{
		padding: 40px 0;
		.widget h3{
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.tb-social{
			a{
				color: #444444;
				&:hover{
					color: #ffffff;
				}
			}
		}
		.widget_tb_list_icon_widget{
			margin-top: 20px;
			ul{
				li{
					i.fa{
						margin-right: 10px;
					}
				}
			}
		}
		.tb-widget-post-list{
			ul.tb-post-list{
				li{
					border-bottom: 1px dotted #555;
					&:last-child{
						border-bottom: none;
					}
					.tb-meta{
						width: ~"calc( (100% / 3) - 12px )";
						.date span{
							font-size: 10px;
						}
					}
					.tb-details{
						width: ~"calc( 100% - (100% / 3) + 8px)";
						h4 a{
							display: block;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}
				}
			}
		}
		.widget.widget_tb_recent_work_widget{
			ul{
				margin-left: -6px;
				li{
					display: inline-block;
					vertical-align: top;
					margin: 6px;
					width: ~"calc(100% / 3 - 12px)";
					font-size: 0;
					line-height: normal;
					a{
						border: 1px solid @tb_primary_color;
						border-radius: 50%;
						display: inline-block;
						overflow: hidden;
						padding: 4px;
						position: relative;
						width: 100%;
						font-size: 0;
						img{
							border-radius: 50%;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							left: 0;
							top: 0;
							z-index: 1;
							transition: .6s;
							-webkit-transition: .6s;
						}
						&:hover:after{
							/* box-shadow: 0 0 0 60px rgba(228, 67, 44, 0.5) inset; */
							.boxshadowHex2rgba(@tb_primary_color, 60);
						}
					}
				}
			}
		}
		.widget.widget_tb_opening_hours_widget{
			ul li{
				border-bottom: 1px dotted #555;
				padding: 4px 0;
				&:last-child{
					border-bottom: none;
				}
				.time{
					float: right;
					font-size: 13px;
					&.open{
						color: @tb_primary_color;
					}
					&.closed{
						color: #F2092C;
					}
				}
			}
		}
		.tb-col4{
			padding-left: 65px;
		}
		.widget{
			padding: 20px 0;
		}
		.btn{
			margin: 15px 0;
			border: 1px solid #444444;
			color: #ffffff!important;
			&:hover{
				background-color: #444444 !important;
				border-color: #ffffff !important;
			}
		}
		.tnp-widget{
			form{
				position: relative;
				overflow: hidden;
				&:after{
					font-family: "aqua icon" !important;
					content: "\e1fd";
					font-size: 18px;
					line-height: 41px;
					text-align: center;
					position: absolute;
					top: 0; 
					right: 0;
					width: 40px;
					color: #fff;
					background: #444444;
					z-index: 9;
				}
				p{
					input{
						margin: 0;
						background: #FFFFFF;
						border: 1px solid @tb_footer_link_color;
						box-shadow: none;
						&:focus, &:active{
							border: 1px solid @tb_primary_color;
						}
					}
					&:last-child{
						position: absolute;
						top: 0;
						right: 0;
						width: 40px;
						background: transparent;
						z-index: 99;
						input{
							border: none;
							color: transparent;
							background: transparent;
						}
					}
				}
			}
		}
	}
	/* footer-bottom */
	.footer-bottom{
		padding: 20px 0;
		h6 {
			margin: 10px;
			letter-spacing: 1.6px;
		}
		.sidebar-bottom-right{
			display: inline-block;
			text-align: right;
			ul li{  
				display: inline-block;
				position: relative;
				&:after{
					content: "";
					background: #999;
					border-radius: 50%;
					height: 3px;
					position: absolute;
					right: -4px;
					top: ~"calc(50%)";
					width: 3px;
				}
				&:last-child:after{
					background: none;
				}
				a{
					display: inline-block;
					margin: 4px 12px;
					line-height: 33px;
				}
			}
		}
		.sidebar-bottom-left .textwidget,.sidebar-bottom-right ul li a{
			font-size: 13px;
			line-height: normal;
			display: inline;
		}
	}
	&.v1{
		background-color: #222;
		.footer-bottom{
			border-top: 1px solid #999999;
		}
		.footer-top{
			.tb-col4{
				border-left: 1px solid #999999;
			}
		}
	}
	&.white{
		background-color: #fff;
		.footer-bottom{
			border-top: 1px solid #999999;
		}
		.footer-top,.footer-bottom{
			color: #444444;
			h6{
				color: #444;
			}
		}
		.footer-top{
			border-top: 1px solid #999999;
			.newsletter{
				form{
					position: relative;
					&:after{
						background: @tb_footer_white_link_color;
					}
				}
			}
			.tb-col4{
				border-left: 1px solid #999999;
			}
			.btn{
				margin: 15px 0;
				background-color: transparent !important;
				border: 1px solid #444444 !important;
				color: #444444 !important;
				&:hover, &:focus{
					background-color: @tb_primary_color !important;
					border-color: @tb_primary_color !important;
					color: #ffffff !important;
				}
			}
			.tb-social{
				a{
					color: #444444;
					&:hover{
						color: @tb_primary_color;
					}
				}
			}
			.newsletter{
					p{
						input{
							margin: 0;
							background: #FFFFFF;
							border: 1px solid #444444;
						}
					}
				}
			}
			.widget h3{
				color: #444;
			}
		}
		.footer-bottom{
			border-top: @tb_footer_bottom_white_border_top_width @tb_footer_bottom_white_border_top_style @tb_footer_bottom_white_border_top_color;
		}
	}
}
/* widget widget_tag_cloud */
.widget{
	&.widget_tag_cloud{
		.tagcloud{
			a{
				border: 1px solid;
    			border-radius: 2px;
    			display: inline-block;
    			line-height: normal;
    			margin-right: 2px;
				margin-bottom: 4px;
    			padding: 0 5px;
    			&:hover{
    				color: @tb_primary_color;;
    			}
			}
		}
	}
}
/*Stats*/
.tb_stats {
    padding: 50px 30px 50px 0;
    text-align: center;
    width: 100%;
    &.brddark {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 50px 30px 50px 0;
        text-align: center;
        width: 100%;
    }
    .num {
        color: #232d37;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .type {
        color: #c3cdd7;
        font-size: 11px;
        font-weight: 200;
        letter-spacing: 2px;
        .white {
            color: #fff;
            font-size: 11px;
            font-weight: 200;
            letter-spacing: 2px;
        }
    }
    &.stats-alt {
        border-right: 1px solid #eff4f7;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        &.brddark {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            text-align: center;
            width: 100%;
        }
        .num {
            color: #232d37;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        .type {
            color: #c3cdd7;
            font-size: 8px;
            font-weight: 200;
            letter-spacing: 2px;
            line-height: 12px;
            &.white {
                color: #fff;
                font-size: 8px;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }
    }
}
/*Ul*/
.disc{
    li{
        list-style: disc;
    }
}
.decimal{
    li{
        list-style: decimal;
    }
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        &:after,&:before{
            font-family: FontAwesome;
            font-size: 11px;
            line-height: 22px;
			color: @tb_primary_color;
        }
    }
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
    margin-right: 5px;
}
ul.arrow li::before {
    content: "\f105";
}
ul.arrow-double li::before {
    content: "\f101";
}
ul.tick li::before {
    content: "\f00c";
}
ul.cross li::before {
    content: "\f00d";
}
ul.star li::before {
    content: "\f006";
}
ul.rss li::before {
    content: "\f09e";
}
/*End Ul*/
/*Mixitup*/
#Container .mix{
    display: none;
}
/*End Mixitup*/
/*Start Booking form*/
.rtb-booking-form{
	font-size: 0;
	.rtb-message{
		font-size: 16px;
		text-align: center;  
	}
	.reservation,.contact{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: @tb_body_font_size;
		padding: 5px;
		input, textarea, select {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			margin-bottom: 30px;
			font-size: 16px;
			min-height: 40px;
			padding: 4px 15px;
		}
	}
	.btn_submit {
		button{
			background: #444444;
			color: #FFF;
			font-size: 16px;
			padding: 10px;
			width: 100%;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover{
				background: @tb_primary_color;
				border-color: @tb_primary_color;
			}
			font-size: @tb_body_font_size;
		}
	}
	legend{
		display: none;
	}
	label{
		width: 15%;
		display: inline-block;
	}
	input{
		padding: 10px;
		width: 100% !important;
		max-width: 100% !important;
		display: block;
	}
}
/*End Booking form*/
/*Plan*/
body{
    .plan {
		max-width: 370px;
		margin: 0 auto 30px auto !important;
    	&.featured{
   			> li{
				.tb-btn-bd-1{
					font-size: 13px;
				}
				&.plan-name{
            		color: #FFF;
					background-color: @tb_primary_color;
					.uk-badge-danger{
						background: #FFF;
						color: @tb_primary_color;
						border-radius: 10px;
					}
        		}
            }
    	}
        position: relative;
        overflow: hidden;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 50px;
		border: 1px solid #aaaaaa;
        text-align: center;
		.transition (all 0.4s ease 0s);
        ul{
			margin: 0;
        	padding: 40px 30px 30px;
			li:not(:first-child) {
				border-top: 1px solid #aaaaaa;
				line-height: 50px;
				padding: 0;
			}
        }
        li {
            .transition (all 0.4s ease 0s);
            list-style: none;
            background: #FFF;
			.tb-btn-bd-1{
				font-size: 13px;
			}
            &.plan-name{
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                border-top: 0 none;
                padding-top: 25px;
            }
            &.plan-price {
				position: relative;
                border-top: 0 none;
                padding: 0;
				line-height: 0;
				overflow: hidden;
				img{
					width: 100%;
				}
				.tb-overlay{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 512;
					opacity: 0;
					padding: 10px;
					.transform(scale(0.1));
					.transition (all 0.4s ease 0s);
					.tb-cell-vertical-wrapper {
						display: table;
						height: 100%;
						width: 100%;
						background-color: rgba(255, 255, 255, 0.8);
						.tb-cell-middle {
							display: table-cell;
							vertical-align: middle;
							h1{
								margin: 0;
								.tb-small {
									font-size: 50%;
								}
							}
							h5{
								margin: 0;
							}
						}
					}
				}
            }
        }
        &:hover {
            li{
				&.plan-price{
					.tb-overlay{
						opacity: 1;
						.transform(scale(1));
					}
				}
			}
        }
    }
}
/*End Plan*/
/*Srart Right Fixed Sidebar */
.tb_right_fx_wrap{
	position: fixed;
	right:0;
	top: 210px;
	background: #FFF;
	z-index: 99999;
	.widget_shopping_cart{
		margin-bottom: 0 !important;
		position: relative;
		.wg-title{
			font-size: 0;
			padding: 10px;
			border: 1px solid #000;
			display: inline-block;
			margin-bottom: 0;
			&:after{
				content: "\f07a";
				font-family: FontAwesome;
				font-size: 20px;
				cursor: pointer;
			}
		}
		.widget_shopping_cart_content{
			visibility: hidden;
			position: absolute;
			top: 45px;
			right: 0;
			background: #FFF;
			min-width: 215px;
			transition: all 1s ease;
			transform: translateX(100%);
			&.active{
				visibility: visible;
				transform: translateX(0);
			}
			.product_list_widget{
				border-radius: 0;
			}
		}
	}
}
/*End Right Fixed Sidebar*/
/*Dropcap*/
.tb_dropcap:first-letter {
    color: #666;
    display: block;
    float: left;
    font-size: 50px;
    line-height: 40px;
    padding: 4px 8px 0 0;
    overflow: hidden;
}
/*End Dropcap*/
/*block number*/
.tb_blocknumber {
    min-height: 45px;
    padding: 5px 0 5px 60px;
    position: relative;
}
.tb_blocknumber span {
    display: block;
    font-weight: bold;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
.tb_blocknumber span.rounded {
    border-radius: 5px;
}
.tb_blocknumber span.circle {
    border-radius: 100%;
}
/* End block number */
/* Start bubble */
.tb_bubble{
    position: relative;
    cite {
        left: 15px;
        padding-left: 40px;
        bottom: -30px;
        display: block;
        height: 30px;
        line-height: 36px;
        position: absolute;
        span {
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            left: 0;
            content: " ";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 0;
        }
    }
}
.rtl .tb_bubble cite {
    padding-right: 40px;
    right: 15px;
    span {
        border-right-color: transparent !important;
        right: 0;
    }
}
/* End bubble */
/*Block text*/
.tb_block_text.rounded {
    border-radius: 5px;
}
/*End Block text*/
/* Animate cart */
.widget_mini_cart_wrap.animate_cart{
-webkit-animation: shake .5s ease;
-moz-animation: shake .5s ease;
-o-animation: shake .5s ease;
}
/* End Animate cart */
/* Css shortcode */
/* CSS SHORCODE GENERAL */
/* tb-boxshadow ( box-shadow ) */
.tb-boxshadow{
	box-shadow: 0 0 70px 8px rgba(0, 0, 0, 0.7);
}
/* colorbox */
.colorbox-wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.hex2rgba(@tb_primary_color, 60);
	overflow: hidden;
	opacity: 0;
	transition: .8s;
	-webkit-transition: .8s;
	&:hover{
		opacity: 1;
		.colorbox{
			animation: effZoom .3s ease;
			-webkit-animation: effZoom .3s ease;
		}
		.colorbox-inner a{
			transform: translateX(0) !important;
			-webkit-transform: translateX(0) !important;
			i{
				transition: .2s;
				-webkit-transition: .2s;
			}
			&:hover i{
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
			}
		}
	}
	.colorbox{
		width: 50px;
		height: 50px;
		line-height: 46px;
		border-radius: 50%;
		border: solid 2px #FFF;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		i{
			color: #FFF;
			font-size: unset;
			transition: .3s;
			-webkit-transition: .3s;
		}
	}
	.colorbox-inner{
		display: inline-block;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translateX(-50%) translateY(-50%);
		a{
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 46px;
			border-radius: 50%;
			border: solid 2px #FFF;
			margin: 0 5px;
			color: #FFF;
			&.cb-popup{
				transform: translateX(-100px);
				-webkit-transform: translateX(-100px);
			}
			&.cb-link{
				transform: translateX(100px);
				-webkit-transform: translateX(100px);
			}
		}
	}
	a{
		&:hover{
			i{
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
			}
		}
	}
	.tpl1 & {
		.colorbox{
			border: none;
		}
	}
}
/* END CSS SHORCODE GENERAL */
/* title */
h3.headline {
	letter-spacing: 0.1em;
    margin: 0 0 55px;
	&.underline{
		&:after {
			background-color: #666;
			content: "";
			display: block;
			height: 1px;
			position: relative;
			top: 15px;
			width: 30px;
		}
		&.text-left:after,&.text-left span:after{
			margin: 0;
		}
		&.text-right:after,&.text-right span:after{
			margin: auto 100%;
			transform: translateX(-100%);
			webkit-transform: translateX(-100%);
			moz-transform: translateX(-100%);
			o-transform: translateX(-100%);
		}
		&.text-center:after,&.text-center span:after{
			margin: auto;
		}
	}
}
h1.headline {
	margin: 0;
}
/* feature_box */
.feature-box{ 
	.feature-icon-image{
		position: relative;
		z-index: 2;
		.colorbox-wrap{
			z-index: 1;
			.colorbox i{
				font-size: unset;
				color: #FFF;
			}
		}
	}
	&.tpl1{
		&.circle{
			.feature-icon-image{
				border-radius: 50%;
				img{
					border-radius: 50%;
				}
				.colorbox-wrap{
					border-radius: 100%;
				}
				&:before{
					border-radius: 100%;
				}
			}
		}
		&.square{
			.feature-icon-image{
				border-radius: 4px;
				img{
					border-radius: 4px;
				}
				&:before{
					border-radius: 4px;
				}
			}
		}
		.feature-icon-image{
			width: 133px;
			height: 133px;
			margin: 0 auto;
			line-height: 132px;
			border: solid 1px transparent;
			box-shadow: 0 0 0 1px @tb_primary_color inset;
			padding: 4px;
			transition: .3s;
			-webkit-transition: .3s;
			> i{
				font-size: 24px;
				color: @tb_primary_color;
				transition: .3s;
				-webkit-transition: .3s;
			}					
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				border: solid 1px transparent;				
			}
		}
		&:hover{
			.feature-icon-image{
				> i{
					color: #FFF;	
				}
				&:before{
					animation: borderAnimate .4s ease;
					-webkit-animation: borderAnimate .4s ease;
					transform: scale(1.13);
					-webkit-transform: scale(1.13);
				}
			}
		}
		&.left{
			.feature-icon-image{
				width: 100px;
				height: 100px;
				line-height: 100px;
				float: left;
			}
			.feature-block{
				padding-left: 120px;
				h4{
					padding-bottom: 0;
					padding-top: 0;
					margin-bottom: 15px;
					&:before{
						background: transparent;
					}
				}
			}
		}
		&.right{
			.feature-icon-image{
				width: 100px;
				height: 100px;
				line-height: 100px;
				float: right;
			}
			.feature-block{
				width: ~"calc(100% - 100px)";
				padding-right: 20px;
				h4{
					padding-bottom: 0;
					margin-bottom: 15px;
					padding-top: 0;
					&:before{
						background: transparent;
					}
				}
			}
		}
		.feature-block{
			margin-top: 20px;
			h4{
				position: relative;
				padding-bottom: 15px;
				margin-bottom: 15px;
				&:before{
					bottom: 0;
					content: "";
					left: 50%;
					position: absolute;
					transform: translate3d(-50%, 0px, 0px);
					-webkit-transform: translate3d(-50%, 0px, 0px);
					-ms-transform: translateX(-50%) translateY(0);
					width: 20%;
					height: 2px;
					background: @tb_primary_color;
				}
			}
			a{
				text-transform: uppercase;
			}
		}
	}
	&.border_white{
		border: 4px solid #FFFFFF;
		padding: 30px 0;
		img{
			width: auto !important;
		}
	}
	&.tpl2{
		.feature-block{
			h4{
				letter-spacing: 0.1em;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 50%;
					bottom: -8px;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					width: 0px;
					height: 1px;
					transition: all 0.4s ease 0s;
					-webkit-transition: all 0.4s ease 0s;
				}
			}
		}
		&:hover{
			.feature-block{
				h4{
					&:after{
						width: 30px;
						background: #444;
					}
				}
			}
		}
		.feature-icon{
			overflow: hidden;
			span{
				display: inline-block;
				position: relative;
				&:after,&:before{
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					width: 500px;
					border-bottom: 1px dotted #D3D3D3
				}
				&:after{
					left: -515px;
				}
				&:before{
					right: -515px;
				}
				i{
					color: #D3D3D3;
				}
			}
		}
		&.right-arrow,&.left-arrow{
			position: relative;
			border-radius: 2px;
			overflow: visible!important;
			position: relative;
			z-index: 9;
			.feature-image{
				transform: scale(1) !important;
				-webkit-transform: scale(1) !important;
			}
			&:before {
				content: "";
				position: absolute;
				top: 20%;
				width: 10px;
				height: 10px;
				background: #555;
				border-radius: 100%;
			}
		}
		&.left-arrow:before{
			left: -20px;
		}
		&.right-arrow:before{
			right: -20px;
		}
		&.right-arrow:after,&.left-arrow:after{
			content: "";
			position: absolute;
			top: ~"calc(20% - 5px)";
			z-index: 0;
			border: 10px solid transparent;
		}
		&.right-arrow:after{
			right: -16px;
			border-left: solid 10px #f2f2f2;
		}
		&.left-arrow:after{
			left: -16px;
			border-right: solid 10px #f2f2f2;
		}
		&.left{
			overflow: hidden; 
			.feature-image{
				position: relative;
				width: 40%;
				display: inline-block;
				vertical-align: top;
				line-height: 0;
				transform: scale(1.02);
				-webkit-transform: scale(1.02);
				img{
					width: 100%;
				}
			}
			.feature-block{
				width: 60%;
				display: inline-block;
				padding: 40px 50px;
				margin-left: -4px;
				h4{
					position: relative;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}
		}
		&.right{
			overflow: hidden; 
			.feature-block{
				width: 60%;
				display: inline-block;
				padding: 40px 50px;
				h4{
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}
			.feature-image{
				width: 40%;
				display: inline-block;
				position: relative;
				vertical-align: top;
				line-height: 0;
				margin-left: -4px;
				transform: scale(1.02);
				-webkit-transform: scale(1.02);
				img{
					width: 100%;
				}
			}
		}
		&.center{
			max-width: 370px;
			margin: 0 auto 30px auto !important;
			.feature-block{
				display: inline-block;
			}
			.feature-image{
				width: 100%;
				display: inline-block;
				position: relative;
				vertical-align: top;
				line-height: 0;
				margin-bottom: 30px;
			}
		}
	}
	&.tpl3{
		position: relative;
		.feature-block{
			position: absolute;
			top: 40px;
			left: 0;
			z-index: 3;
			> h3{
				margin-bottom: 30px;
				position: relative;
				color: #ffffff;
				transition: .4s;
				-webkit-transition: .4s;
				&:after{
					content: "";
					width: 0;
					border-bottom: 1px solid;
					position: absolute;
					left: 50%;
					bottom: -6px;
					transition: all 0.4s ease 0s;
					-webkit-transition: all 0.4s ease 0s;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
				}
			}
			> div{
				padding: 10px 20px;
				background: rgba(255,255,255,.7);
			}
		}
		transition: .4s;
		-webkit-transition: .4s;
		.feature-image{
			transition: .4s;
			-webkit-transition: .4s;
			position: relative;
			z-index: 1;
		}
		&:hover{
			.feature-block{
				> h3{
					transform: translateY(-10px);
					-webkit-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
					&:after{
						width: 30px;
					}
				}
			}
			.feature-image{
				transform: scaleY(1.04);
				-webkit-transform: scaleY(1.04);
				-ms-transform: scaleY(1.04);
			}
		}
	}
}
/* Progress bar */
.vc_progress_bar{
	&.style1{
		&.small{
			.vc_single_bar{
				height: 8px;
				.vc_bar{
					height: 8px;
				}
			}
		}
		&.medium{
			.vc_single_bar{
				height: 16px;
				.vc_bar{
					height: 16px;
				}
			}
		}
		&.large{
			.vc_single_bar{
				height: 24px;
				.vc_bar{
					height: 24px;
				}
			}
		}
		.vc_single_bar,.vc_bar{
			border-radius: 100px !important;
		}
	}
}
/* button */
.wpb_button_a{
	position: relative;
	z-index: 2;
}
.wpb_button_a .wpb_button, .wpb_button{}
.wpb_button_a.rounded, 
.wpb_button_a.rounded .wpb_button, 
.wpb_button.rounded{
	border-radius: 100px;
}
/* Contact form */
.tb-form-contact{
	&.without-label{
		label{
			display: none;
		}
	}
	span{ 
		display: block;
		position: relative;
		&:after{
			color: #AAA;
			font-size: 14px;
			position: absolute;
			right: 22px;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			-webkit-transform: translate3d(0, -50%, 0);
			-ms-transform: translateX(0) translateY(-50%);
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
		}
	}
	.form-name span:after{
		content: "\f007";	
	}
	.form-email span:after{
		content: "\f199";	
	}
	.form-telephone span:after{
		content: "\f095";	
	}
	.form-country span:after{
		content: "\f041";	
	}
	.form-city span:after{
		content: "\f041";	
	}
	.form-company span:after{
		content: "\f0b1";	
	}
	.form-website span:after{
		content: "\f1d8";	
	}
}
/* tb-carousel */
.tb-carousel{
	.owl-pagination{
		position: absolute !important;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.owl-buttons{
		.owl-prev,.owl-next{
			position: absolute;
			top: 50%;
			z-index: 5;
			padding: 30px 20px !important;
			margin: 0 !important;
			border-radius: 0 !important;
			background: rgba(0,0,0,.8) !important;
			color: #FFF !important;
			text-transform: uppercase;
			transition: .3s;
			-webkit-transition: .3s;
			transform: translate3d(0%, -50%, 0);
			-webkit-transform: translate3d(0%, -50%, 0);
			-ms-transform: translateX(0) translateY(-50%);
		}
		.owl-prev{
			left: 0;
			transform: translate3d(-100%, -50%, 0);
			-webkit-transform: translate3d(-100%, -50%, 0);
			-ms-transform: translateX(-100%) translateY(-50%);
		}
		.owl-next{
			right: 0;
			transform: translate3d(100%, -50%, 0);
			-webkit-transform: translate3d(100%, -50%, 0);
			-ms-transform: translateX(100%) translateY(-50%);
		}
	}
	&.testimonial.default{
		padding: 15px 0;
		border-width: 1px 0 1px 0;
		position: relative;
		.tb_carousel_content{
			text-align: center;
			.tb_carousel_title{
				margin-bottom: 20px;
				a{
					text-transform: uppercase;
					font-size: 16px;
				}
			}
		}
		.owl-controls{
			margin-top: 0;
		}
		.owl-buttons{
			.owl-prev, .owl-next{
				position: relative;
				transform: none;
				-webkit-transform: none;
				left: initial;
				right: initial;
				padding: 0 !important;
				margin: 0 10px !important;
				width: 30px;
				height: 30px;
				background: transparent!important;
				&:before {
					font-family: "aqua icon" !important;
					content: attr(data-icon);
					font-style: normal !important;
					font-weight: normal !important;
					font-variant: normal !important;
					text-transform: none !important;
					speak: none;
					line-height: inherit;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "b";
					font-size: 16px;
					font-weight: 600 !important;
					color: #444444 !important;
				}
			}
			.owl-next{
				&:before {
					content: "d";
				}
			}
		}
	}
	&.team.default{
		.owl-wrapper{
			.owl-item{
				.slider-blog{
					padding: 0 15px;
					.tb_carousel_content{
						padding: 0;
						text-align: center;
						.tb_carousel_title{
							margin: 20px 0 10px;
							a{
								font-size: 16px;
								text-transform: uppercase;
								letter-spacing: 3px;
							}
						} 
						.tb_position{
							font-style: italic;
							font-weight: 400;
							color: @tb_primary_color;
						}
						.tb-social{
							margin-top: 10px;
							li a{
								font-size: 18px;
								color: #444; 
								&:hover{
									color: @tb_primary_color;
								}
							}
						}
					}
				}
				&:first-child .slider-blog .tb_carousel_content{
				}
				&:last-child .slider-blog .tb_carousel_content{
				}
			}
		}
	}
}
.team.normal{
	.tb-carousel-item-wrap{
		.item{
			max-width: 370px;
			margin: 0 auto;
			margin-bottom: 30px;
			.slider-blog{
				.tb_carousel_content{
					padding: 0;
					text-align: center;
					.tb_carousel_title{
						margin: 20px 0 10px;
						a{
							font-size: 16px;
							text-transform: uppercase;
							letter-spacing: 3px;
						}
					} 
					.tb_position{
						font-style: italic;
						font-weight: 400;
						color: @tb_primary_color;
					}
					.tb_introtext{
						font-weight: bold;
					}
					.tb-social{
						margin-top: 10px;
						li a{
							font-size: 18px;
							color: #444; 
							&:hover{
								color: @tb_primary_color;
							}
						}
					}
				}
			}
		}
		&:first-child .slider-blog .tb_carousel_content{
		}
		&:last-child .slider-blog .tb_carousel_content{
		}
	}
}
/*Start Button Play video background */
.stripe-video-wrap{
	position: relative;
    video {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
	}
	.stripe-video-content {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}	
	.tb-videobg-control-btn {
		background-position: center center;
		background-repeat: no-repeat;
		border: 2px solid rgba(255,255,255,.3);
		color: #ffffff;
		cursor: pointer;
		height: 102px;
		line-height: 102px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 102px;
		transition: .3s;
		-webkit-transition: .3s;
		&:hover{
			border: 2px solid rgba(255,255,255,.8);
		}
	}	
	.tb-videobg-control-btn-normal {
		border-color: rgba(0, 0, 0, 0);
		height: auto;
		line-height: 50px;
		width: auto;
	}
	.control-btn-circle {
		border-radius: 100%;
		&:hover{
			animation: btnplayanimate 4s linear infinite; 
			-webkit-animation: btnplayanimate 4s linear infinite; 
		}
	}
	.control-btn-small {
		height: 48px;
		line-height: 48px;
		width: 48px;
	}
	.tb-videobg-control-btn-large {
		height: 102px;
		line-height: 101px;
		margin-bottom: 150px;
		margin-top: 150px;
		position: relative;
		width: 328px;
		.tb-fonts-giant {
			border-right: 1px solid #cccccc;
			display: inline-block;
			padding-left: 30px;
			padding-right: 30px;
		}
		.fa {
			height: 102px;
			line-height: 102px;
			position: relative;
			top: -10px;
			width: 102px;
		}
	}
}
.stripe-video-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 1;
	> video {
		visibility: visible;
		width: 100%;
	}
}
.tb-video-bg {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
embed, iframe, object, video {
    border: medium none;
    max-width: 100%;
}
/*End Button Play video*/
/* class PIE DOT */
.pie-dot{
	position: relative;
	&:before{
		background: #FFF;
		border-radius: 100%;
		content: "";
		height: 8px;
		position: absolute;
		right: -2px;
		top: 20%;
		width: 8px;
	}
}
/* wpb_accordion */
.wpb_accordion{
	overflow: hidden;
	border: none;
	.wpb_accordion_section{
		border-bottom: none;
		margin-bottom: 30px;
		&:last-child{
			border: none;
		}
	}
	.wpb_accordion_wrapper{
		.wpb_accordion_header{
			font-family: "Roboto Slab" !important;
			font-weight: 400 !important;
			position: relative;
			margin-bottom: 20px !important;
			border-radius: 1px;
			overflow: hidden;
			margin-bottom: 0 !important;
			transition: background .4s;
			-webkit-transition: background .4s;
			a{
				margin-bottom: 0 !important;
				padding: 8px 55px !important;
				font-size: 16px;
				span{
					font-size: 24px;
					margin-right: 10px; 
					font-size: 15px !important;
				} 
			}
		}
		.wpb_accordion_content{
			padding: 0 !important;
			border: none;
		}
		.ui-state-default,.ui-state-active{
			.ui-icon{
				top: 50% !important;
				background-image: none !important;
				border-radius: 100%;
				width: 24px;
				height: 24px;
				left: 16px !important;
				right: initial;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				&:after{
					position: absolute;
					font-size: 24px;
					left: 50%;
					top: 50%;
					font-family: "aqua icon" !important;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					transform: translate3d(-50%, -50%, 0);
					-webkit-transform: translate3d(-50%, -50%, 0);
					-ms-transform: translateX(-50%) translateY(-50%);
				}
			}
		}
		.ui-state-default{
			.ui-icon:after{
				content: "\e177";
			}
		}
		.ui-state-active{
			.ui-icon:after{
				content: "\e170";
			}
		}
	}
}
/* wpb_tabs */
.wpb_tabs .ui-corner-top:hover{
	transition: .3s;
	-webkit-transition: .3s;
}
.wpb_tabs.woo-product-tabs{
	.ui-widget-content {
		border: none;
		.ui-widget-header {
			border: none;
			background: none;
			.ui-state-default {
				border: none;
			}
		}
		.wpb_tabs_nav{
			text-align: center;
			position: relative;
			margin-bottom: 30px;
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				border-bottom: 1px solid #aaaaaa;
				top: ~"calc(50% - 1px)";
				left: 0;
				z-index: 9;
			}
			li{
				background: #FFF !important;
				margin-left: 5%;
				position: relative;
				z-index: 10;
				float: none;
				display: inline-block;
				background: none;
				font-family: Roboto Slab;
				font-size: 18px;
				padding: 5px 30px;
				font-weight: 400;
				&:hover a{
					color: @tb_primary_color;
				}
				&.ui-state-active{
					font-size: 24px;
				}
				&:first-child{
					margin: 0;
				}
			}	
		}
		.wpb_tour_tabs_wrapper{
			.wpb_tab{
				background: none !important;
				padding: 0 !important;
			}
		}
	}
}	
/* tb-grid */
.tb-grid{
	.tb-grid-nav{
		margin-bottom: 20px;
		ul{
			margin: 0; 
			padding: 0;
			line-height: normal;
			display: inline-block;
			vertical-align: top;
			display: inline-block;
			li{
				display: inline-block;
				vertical-align: top;
				display: inline-block;
				position: relative;
				transition: .3s;
				-webkit-transition: .3s;
				a{
					color: #999;
				}
				:hover a{
					color: #333;
				}
				&.active{
					&:after{
						content: "";
						width: 2px;
						height: 2px;
						background: #555;
						color: #555;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 100%;
						animation: dot-animation .4s ease;
						-webkit-animation: dot-animation .4s ease;
						box-shadow: 8px 0 0 0, -8px 0 0 0;
						transform: translateX(-50%);
						-webkit-transform: translateX(-50%);
					}
				}
			}
			&.controls-sorter{
				float: right;
				position: relative;
				&:before{
					clear: both;
				}
			}
		}
	}
	.tb-grid-content{
		.tb-grid-item{
			line-height: normal;
			.tb-grid-item-inner{
				position: relative;
				overflow: hidden;
				.tb-grid-image{
					position: relative;
					line-height: 0;
					overflow: hidden;
					img,canvas{
						width: 100%;
						transition: .5s;
						-webkit-transition: .5s;
						transform: scale(1.02);
						-webkit-transform: scale(1.02);
					}
					canvas{
						opacity: 1;
					}
					.colorbox-wrap{
						z-index: 2;
					}
				}
				.tb-info-grid-item{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					padding: 20px;
					z-index: 1;
					top: 101%;
					text-align: left;
					transition: .3s;
					opacity: 1;
					background: #FFF;
					transition: .3s;
					-webkit-transition: .3s;
					transform: scale(1.02);
					-webkit-transform: scale(1.02);
					h3.tb-grid-title{
						margin: 0;
						padding: 0;
						a{
							color: #FFF;
						}
					}
					.tb-grid-desc{
						color: #FFF;
					}
				}
				&:hover{
					.tb-info-grid-item{
						transform: translateY(-100%) scale(1.02);
						-webkit-transform: translateY(-100%) scale(1.02);	
						background: @tb_primary_color;
					}
					.tb-grid-image img,.tb-grid-image canvas{
						transform: translateY(-10%) scale(1.02);
						-webkit-transform: translateY(-10%) scale(1.02);
					}
					.tb-grid-image canvas{
						opacity: 0;
					}
					.colorbox-grid-custom{
						opacity: 1;
						a.colorbox{
							animation: none;
							-webkit-animation: none;
						}
					}
				}
				.colorbox-grid-custom{
					width: 32px;
					height: 32px;
					position: absolute;
					top: 0;
					right: 0;
					left: initial;
					a{
						width: 100%;
						height: 100%;
						line-height: 32px;
						background: @tb_primary_color;
						border-radius: 0;
					}
				}
			}
		}
	}
}
/* tb-btn */
.tb-btn{
	display: inline-block !important;
    height: 36px;
	vertical-align: top;
	position: relative;
	border-radius: 2px;
	transition: .4s;
	-webkit-transition: .4s;
	display: inline-block;
	span.tb-btn-inner-text{
		transition: .4s;
		-webkit-transition: .4s;
		display: inline-block;
	}
	i{
		transition: .3s;
		-webkit-transition: .3s;
	}
	&.tb-btn-border{
	}
	&.tb-btn-default{
		border: 1px solid @tb_primary_color;
	}
	&.tb-btn-icon{
		padding: 0 28px;
		i{
			position: absolute;
			right: -10px;
			top: 0;
			width: 36px;
			height: 36px !important;
			line-height: 36px !important;
			height: 100%;
			text-align: center;
			opacity: 0;
		}
		&:hover{
			span.tb-btn-inner-text{
				transform: translateX(-15px);
				-webkit-transform: translateX(-15px);
			}
			i{
				opacity: 1;
				right: 0px;
			}
		}
	}
	&.tb-btn-color-white{
		background: #FFF;
		color: #555;
	}
	&.tb-btn-color-black{
		background: #333;
		color: #FFF;
		&:hover{
			background: #555;
			color: #FFF;
		}
	}
}
.tb-btn-1 {
    background-color: @tb_primary_color;
    border: 0 none;
    color: #ffffff;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
	.transition (all 0.4s ease 0s);
}
.tb-btn-1:hover {
    background-color: #444444;
    color: #ffffff;
}
.tb-btn-2 {
    background-color: #444444;
    border: 0 none;
    color: #ffffff;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-2:hover {
    background-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-3 {
    background-color: #ffffff;
    border: 0 none;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-3:hover {
    background-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bd-1 {
    background-color: transparent;
    border: 1px solid #444444;
    display: inline-block;
	line-height: 1.2em;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bd-1:hover {
    background-color: @tb_primary_color;
    border-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bd-2 {
    background-color: #ffffff;
    border: 1px solid #444444;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bd-2:hover {
    background-color: @tb_primary_color;
    border-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bdr-1 {
    background-color: #eeeeee;
    border: 1px solid #444444;
	line-height: 1.2em;
    border-radius: 20px;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bdr-2 {
    background-color: @tb_primary_color;
    border: 1px solid #444444;
	line-height: 1.2em;
    border-radius: 20px;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    t.transition (all 0.4s ease 0s);
}
/* rtb-booking-form */ 
.rtb-booking-form{
	text-align: center;
	div{
		text-align: left;
	}
	button{
		width: 50%;
	}
	textarea{
		max-width: 100%;
		width: 100%;
	}
}
/* booking-form-2 */
.booking-form-2{
	.rtb-booking-form{
		.reservation,.contact{
			width: 80%;
			margin: 0 auto;
		}
		textarea{
			max-width: 100%;
			width: 100%;
		}
	}
}
.rtb-booking-form{
	form{
		textarea{
			max-width: 100%;
			width: 100%;
		}
	}	
}
/* tb-menu-text-item */
.tb-menu-text-item{
	width: 100%;
	line-height: 40px;
	.menu-item-inner{
		margin: 0;
		span{
			display: table-cell;
			&.title,&.price{
				width: 1%;
				font-style: italic;
				white-space: nowrap;
			}
			&.solid{
				width: 100%;
				overflow: hidden;
				position: relative;
				color: transparent;
				&:after{ 
					content: "";
					width: 80%;
					position: absolute;
					left: 10%;
					bottom: 10px;
					border-top: 1px solid #fff; 
				}
			} 
		}
	}
	.menu-item-desc{
		font-size: 12px;
		opacity: 0.8;
	}
}
/* tb-social */
.tb-social{
	margin: 0; 
	padding: 0;
	li{
		display: inline-block;
		vertical-align: top;
		a{
			margin: 0 6px;
			font-size: 16px;
		}
	}
}
/* tb-maps-info-content */
.tb-maps-info-content{
	h5{
		font-size: 13px;
	}
}
/*Page 404*/
.error404-wrap{
	text-align: center;
	padding: 60px;
	.error-code{
		font-size: 140px;
		font-weight: 800;
	}
	.error-message {
		font-size: 40px;
		line-height: 60px;
	}
}
.header-sidebar .sidebar-top-right{
	.widget_mini_cart_wrap{
		position: absolute;
		bottom: 0;
		right: 30px;
		.shopping_cart_dropdown{
			left: initial;
			right: 0 !important;
		}
	}
}
/* widget Cart */
.widget_mini_cart_wrap{
	display: inline-block;
	.header{
		a.icon_cart_wrap{
			display: inline-block;
			position: relative;
			i{
				font-size: 20px; 
			}
			span.cart_total{
				position: absolute;
			    top: -8px;
			    background: @tb_primary_color;
			    width: 20px;
			    height: 20px;
			    text-align: center;
			    color: #FFF;
			    line-height: 20px;
			    border-radius: 50%;
			    right: -12px;
			    font-weight: bold;
			}
		}
	}
	.shopping_cart_dropdown{
		background: rgba(255,255,255,.9);
	    border-radius: 4px;
	    box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.5);
	    display: none;
	    right: 0;
	    overflow: hidden;
	    padding: 10px;
	    position: absolute;
	    top: 100%;
	    z-index: 9999;
	    width: 376px;
	    .mini-cart-btn-wrap{
		    display: none;
	    }
		.shop_table.cart,.mini-cart-footer{
			margin: 20px auto;
			border: none;
		} 
		.shop_table.cart{
			width: 100%;
			caption h4{
				text-transform: uppercase;
				text-align: center;
			}
			tr,td,th{
				vertical-align: middle;
				text-align: center;
				border: none;
				border-bottom: dotted 1px #333; 
				padding: 5px 10px;
				font-size: 13px;
			}
			tbody tr:nth-child(even){
				background: rgba(255,255,255,.05) !important;
			}
			th.product-remove,td.product-name,td.product-remove,th.product-name{
				text-align: left;
			}
			td.product-name {
				text-transform: uppercase;
			}
			th,td{
				&.product-price{
					text-align: right;
				}
			}
			td.product-remove a{
				background: none repeat scroll 0 0 @tb_primary_color;
				border-radius: 50%;
				color: #fff;
				display: inline-block;
				font-size: 10px;
				height: 16px;
				line-height: 13px;
				width: 16px;
				text-align: center;
			}
			td.product-thumbnail a{
				display: inline-block;
				vertical-align: top;
				font-size: 0;
				line-height: normal;
				img{
					width: 42px;
					height: 42px;
					border-radius: 50%;
					padding: 2px;
					border: solid 1px @tb_primary_color;
				}
			}
		}
		.mini-cart-footer{
			width: 80%;
			text-align: right;
			.cart-total{
				font-size: 16px;
				text-transform: uppercase;
				display: inline-block;
				padding-top: 10px;
			}
			.cart-link{
				margin-right: 15px;
			}
		}
	}
	&:hover{
		.shopping_cart_dropdown{
			display: block;
		}
	}
	.shopping_cart_dropdown_inner{
		height: 100%;
		overflow: auto;
		.close-mini-cart{
			border: none;
			background: #FFF;
			color: #333;
			width: 50px;
			height: 50px;
			text-align: center;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 0;
		}
	}
}
@media (max-width: 767px) {
	.widget_mini_cart_wrap{
		&:hover{
			.shopping_cart_dropdown{
				display: none;
			}
		}
	}
}
/*switch currency*/
.sidebar-header-right{	
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	.dropdown-menu{
		border-radius: 0;
		box-shadow: none;
		li{
			a{
				padding: 10px;
			}
		}
	}
	.btn-group{
		position: relative;
		.btn.dropdown-toggle{
			font-size: 13px !important;
			font-weight: 600;
			padding: 10px !important;
			text-transform: capitalize;
			small{
				display: inline-block;
			}
		}
		&.open{
			.btn.dropdown-toggle{
				box-shadow: none;
			}
			span{
				.rotate(45deg);
			}
		}
	}
	.dd-container, .dd-select, a.dd-selected, a.dd-selected small {
		display: inline-block;
		font-size: 13px;
		font-weight: 600;
	}
	a.dd-selected{
		font-weight: normal;
		line-height: normal;
		padding-bottom: 0;
	}
	.dropdown-toggle{
		border: none medium;
		color: #000;
		span{
			border: 1px solid #000;
			width: 5px;
			height: 5px;
			position: absolute;right: 0;
			display: block;
			top: 45%;
			border-left: none medium;
			border-top: none medium;
			.rotate(45deg);
		}
	}
	.widget_tb_woo_ordering_widget, .widget-woocommerce-currency-switcher{
		display:inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	.widget-woocommerce-currency-switcher{
		text-align: left;
		.dd-selected{
			font-size: 13px;
			font-weight: 600;
		}
	}
	.dd-options{
		min-width: 160px;
		.dd-option{
			label{
				font-weight: normal;
			}
			&:hover{
				background: #f5f5f5;
			}
		}
	}
	.dd-desc{
		color: #000;
		.dd-desc{
			line-height: inherit;
		}
	}
	.dd-select{
		border: none medium;
		background: none !important;
	}
	.dd-pointer-down{
		border: 1px solid #000;
		width: 5px;
		height: 5px;
		right: 0;
		border-left: none medium;
		border-top: none medium;
		.rotate(45deg);
		&.dd-pointer-up{
			border: 1px solid #000 !important;
			margin-top: 0;
			border-left: none medium !important;
			border-top: none medium !important;
			.rotate(-135deg);				
		}
	}
	.widget-woocommerce-currency-switcher{
		.dd-selected-text,.dd-option-text{
			display: none;
		}
		+ .widget-woocommerce-currency-switcher{
			.dd-selected-description,.dd-option-description{
				display: none;
			}
			.dd-selected-text,.dd-option-text{
				display: block;
				line-height: initial;
			}			
		}
	}
}
/* responsive */
@media (min-width: 992px){
	.tb-header-v1{
		.col-logo, .col-menu {
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
		.col-menu {
			width: 74.4%;
		}
	}
}
@media (min-width: 981px) and (max-width: 1199px){
	.tb_footer_top_once, .tb_footer_top_two, .tb_footer_top_three{
		//width: 33%;
		//text-align: center
	}
	.tb_footer_top_four{
		border: none !important;
	    padding: 0 15px !important;
	    text-align: center;
	    .widget{
		    text-align: center;
		    padding: 20px 0 0 !important;
	    }
	}
	.tb-1199-fullwidth{
		width: 100% !important;
		.vc_empty_space {
			display: none;
		}
	}
	.deviation-feature-box.deviation-align-right .deviation-content-image img,
	.deviation-feature-box.deviation-align-left .deviation-content-image img,
	.deviation-feature-box.deviation-align-bottom .deviation-content-image img{
		width: auto !important;
	}
	.deviation-feature-box.deviation-align-left .deviation-content-image{
		width: 60%;
	    text-align: right;
	    margin-left: 40%;
	}
	.feature-box{
		&.deviation{
			.deviation-feature-box{
				margin-bottom: 100px;
				&.deviation-align-bottom{
					.deviation-content-image{
						width: 60%;
						img{
							width: 100%;
						}
					}
					.deviation-content-info{
						width: 50%;
						position: absolute;
						top: 47%;
						right: 0;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						.feature-box-desc{
							width: auto;
						}
					}
					.deviation-link-more{
						bottom: 25px;
					}
				}
			}	
		}
	}
}
@media (max-width: 995px){
	.tb-full-width-995{
		width: 100% !important;
	}
	.feature-box.tpl3{
		max-width: 370px;
		margin: 10px auto 70px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.page-id-17{
		.rev_slider_wrapper{
			margin-top: 250px !important; 
			box-shadow: 0 -250px 0 250px;
			color: #DEB6B6;
		}
	}
}
@media (max-width: 768px){
	.carousel-block .overlay{
		display: none !important;
	}
	.tb-line-center{
		width: 100%;
	}
}
@media (max-width: 767px){
	.header-sidebar{
		text-align: center;
		.tb-social{
			text-align: center;
		}
	}
	.footer-bottom.tb_footer{
		text-align: center;
		#menu-menu-footer{
			text-align: center;
		}
	}
	.feature-box{
		margin-bottom: 20px !important; 
		&.tpl2{
			.feature-image,.feature-block{
				width: 100% !important;
			}
			&.right-arrow, &.left-arrow{
				&:before{
					top: -20px;
					left: 50%;
					transform: translateX(-50%);
					-wekit-transform: translateX(-50%);
				}
				&:after{
					border-left-color: transparent;
					border-right-color: transparent;
					border-bottom: 10px solid #f2f2f2;
					right: initial;
    				left: 50%;
    				transform: translateX(-50%);
					-wekit-transform: translateX(-50%);
    				top: -20px;
				}
			}
		}
	}
	.vc_pie_chart{
		.counter{
			margin-bottom: 50px;
		}
	}
	.pie-dot{
		&::before{
			top: initial;
			right: initial;
			bottom: -25px;
    		left: 50%;
		}
	}
	.title-bar{
		text-align: center;
		.page-breadcrumb{
			text-align: center;
		}
	}
	.tb-grid{
		&:first-child{
			text-align: center;
		}
		.controls-filter, .controls-sorter{
			text-align: center;
			float: none !important;
		}
	}
	.tb_footer .footer-top .tb-col4{
		padding: 0 15px;
		border: none !important;
	}
}
.scroll_button_show{
	position: relative;
	.btn_scroll_wrap{
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		width: 22px;
		height: 50px;
		z-index: 999;
		cursor: pointer;
		&:after{
			border: 1px solid #d3d3d3;
    		border-radius: 10px;
    		content: "";
    		height: 35px;
    		left: 1px;
    		position: absolute;
    		top: 0;
   			width: 20px;
		}
		&:before{
			content: "";
    		height: 10px;
    		left: 50%;
    		position: absolute;
    		top: 4px;
    		width: 1px;
			background: #d3d3d3;
			transform: translateX(-50%); 
			-webkit-transform: translateX(-50%);
		}
		&:hover:after{
		}
	}
}
.text-blog-style-1{
	background: rgba(255,255,255,.8);
	padding: 30px 60px;
	ul{
		margin: 0;
		padding: 0;
		li{
			padding: 10px 0;
		}
	}
}
.wbp-title{
	&.tpl2{
		padding: 10px;
		border: solid 1px #aaaaaa;
		.wbp-title-content{
			padding: 20px;
			h3.headline{
				font-weight: 600;
				padding: 0;
				margin: 0;
			}
			p{
				line-height: initial; 
				font-style: italic;
				font-weight: bold;
			}
		}
	}
} 
.row-full-content .row > div, .tb-one-page-post .row-full-content.tb-blog > div{
	padding: 0 !important;
}
.deviation-blog, .deviation-feature-box{
	position: relative;
	.blog-title, .feature-box-title{
		a{
			display: block;
			position: relative;
			line-height: 32px;
			&:after{
				position: absolute;
				content: "";
				width: 30px;
				bottom: -12px;
				left: 50%;
				border-bottom: 1px solid #444;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
			}
		}
	}
	.blog-desc, .feature-box-desc{
		.hex2rgba(@tb_primary_color, 70);
		margin-top: 36px;
		padding: 30px 30px 50px;
		font-weight: 600;
	}
	.deviation-link-more{
		bottom: 10px;
		font-size: 28px;
		opacity: 0.6;
		position: absolute;
		right: 30px;
		transition: .3s;
		-webkit-transition: .3s;
		&:hover{
			opacity: 0.6;
		}
	}
	&.deviation-align-right{
		.deviation-content-image{
			width: 60%;
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 50%;
			position: absolute;
			top: 47%;
			right: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.deviation-link-more{
			bottom: 25px;
		}
	}
	&.deviation-align-left{
		.deviation-content-image{
			width: 60%;
			margin-left: 40%;
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 50%;
			position: absolute;
			top: 47%;
			left: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.deviation-link-more{
			bottom: 25px;
		}
	}
	&.deviation-align-bottom{
		.deviation-content-image{
			width: 60%
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 100%;
			transform: translateY(-30%);
			-webkit-transform: translateY(-40px);
			.blog-title, .feature-box-title{
				width: 30%;
				display: inline-block;
			}
			.blog-desc, .feature-box-desc{
				width: ~"calc(70% - 6px)";
				display: inline-block;
				margin-top: 0;
				vertical-align: middle;
			}
		}
	}
}
.feature-box.deviation2{
	.feature-box-title{
		margin-bottom: 60px;
		margin-top: 50px;
		padding: 0;
	}
	.image-bg{
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding-bottom: 40px;
	}
	&.right{
		.image-bg{
			background-position: 0 0;
		}
	}
	&.left{
		.image-bg{
			background-position: 100% 0;
		}
	}
}
.wpcf7{
	.wpcf7-submit{
		float: right;
		background: @tb_primary_color;
		border-color: @tb_primary_color;
		color: #FFF;
		text-transform: uppercase;
		width: 150px;
		&:hover{
			background: #444;
			border-color: #444;
			color: #FFF;
		}
	}
}
@media (max-width: 980px){
	.feature-box.deviation2{
		&.left, &.right{
			.image-bg{
				background-position: center center;
			}
		}
	}
	.tb-blog-content-outer{
		.tb-blog-basic-widget{
			display: none;
		}
	}
}
.tb-header-wrap{
	.header-sidebar-inner{		
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		> div{
			position: relative;
		}
	}
}
// single-post
.single{
	article.post, article.space{
		h2.blog-title{
			margin: 19px 0 25px 0;
			font-size: 36px;
			font-style: italic;
		}
		.blog-info{
			margin-bottom: 25px;
			text-align: right;
			> span{
				margin-left: 55px;
				a{
					color: @tb_primary_color;
				}
			}
		}
		.tb-blog-image{
			margin-bottom: 50px;
		}
		.tb-content-block{
			.blog-desc{
				text-align: justify;
				margin-bottom: 25px;
				height: 50%;
			}
			.tag-links{
				a{
					color: @tb_primary_color;
					&:hover{
						color: #444;
					}
				}
			}
			.about-author{
				.author-avatar{
					display: inline-block;
					vertical-align: top;
				}
				.author-info{
					display: inline-block;
				    padding-left: 30px;
				    width: ~"calc(100% - 175px)";
				    .subtitle{
					    font-weight: bold;
				    }
				    .desc{
					    font-style: italic;
				    }
				    a{
					    color: @tb_primary_color;
				    }
				}
				margin: 25px 0;
			}
		}
	}
}
.single.post-template-sidebar_right-php article.post .blog-info {
    text-align: left;
	> span{
		margin-left: 0;
		margin-right: 55px;
	}
}
.main-content{
	.widget {
		margin-bottom: 40px;
		h3.wg-title {
			background: none repeat scroll 0 0 #eee;
			border: 1px solid #aaa;
			font-size: 16px;
			margin-bottom: 40px;
			padding: 10px 0;
			text-align: center;
			text-transform: uppercase;
		}
		.service-list {
			margin: 0;
			padding: 0;
			li{
				font-size: 18px;
				line-height: 2.5;
				&:before {
					content: "\e177";
					font-family: "aqua icon";
					margin-right: 10px;
					vertical-align: -5%;
				}
			}
		}
		.ro-blog-side-contact {
			border-collapse: collapse;
			border-spacing: 0;
			border: none;
			td, th {
				padding: 0 0 10px;
				border: none;
				font-weight: 600;
			}
			th {
				text-align: left;
			}
		}
	}
}
// tb-blog-related
.tb-blog-related{
	margin-bottom: 50px;
}
.tb-padding-content{
	padding: 0 20% !important;
}
@media (max-width: 1240px){
	#tb_wrapper .tb-blog.default article .tb-content-block h2.blog-title a{
		font-size: 24px;
	}
}
@media (max-width: 1199px){
	#tb_wrapper .tb-blog.default article .tb-content-block h2.blog-title{
		margin-bottom: 20px;	
		line-height: 26px;	
	}
	#tb_wrapper  .tb-left .tb-blog.default .tb-content-block,#tb_wrapper  .tb-right .tb-blog.default .tb-content-block{
		padding-top: 20px;
	}
}
.text-medium{
	font-size: 18px;
}
.text-italic{
	font-style: italic;
}
.text-bold{
	font-weight: bold;
}
.ro-reservation-bg{
	.ro-reservation{	
	position: relative;
    z-index: 1;
		&:after {
		background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
		content: " ";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991px){
	.tb-padding-content{
		padding: 0 20px !important;
	}
	.tb-980-hide{
		display: none;
	}
	.sidebar-right{
		.widget{
			.tb-post-side-img{
				float: none;
				width: 100%;
				height: auto;
			}
			.tb-post-side-ct{
				margin: 0;
			}
		}
	}
	.tb-980-fullwidth{
		width: 100% !important;
	}
	.feature-box{
		&.deviation{
			.deviation-feature-box{
				margin-bottom: 100px;
				&.deviation-align-bottom{
					.deviation-content-image{
						width: 60%;
						img{
							width: 100%;
						}
					}
					.deviation-content-info{
						width: 50%;
						position: absolute;
						top: 47%;
						right: 0;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						.feature-box-desc{
							width: auto;
						}
					}
					.deviation-link-more{
						bottom: 25px;
					}
				}
			}	
		}
	}
	.rtb-booking-form .reservation, .rtb-booking-form .contact{
		width: 100%;
	}
	.tb-left .tb-blog.default {
		.tb-blog-image {
			width: 100%;
		}
		.tb-content-block {
			position: relative;
			width: 100%;
			&:before {
				left: 60px;
				position: absolute;
				top: -32px;
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
			}
		}
	} 
	.tb-right .tb-blog.default {
		.tb-blog-image {
			width: 100%;
			float: none;
		}
		.tb-content-block {
			position: relative;
			width: 100%;
			&:before {
				position: absolute;
				right: 60px;
				top: -32px;
				transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
			}
		}
	}
	#tb_wrapper .tb-blog.default article .tb-content-block .blog-desc{
		height: 6.2em;
		overflow: hidden;
	}
}
@media (max-width: 991px){
	.tb-blog{
		&.default{
			article{
				display: block
			}
		}
	}
	.single-post{
		article.post{
			.tb-content-block{
				text-align: center;
				.about-author, .author-info{
					display: block;
				}
				.author-info{
					padding-left: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
}
@media (max-width: 767px){
	.tb-advertise-2 .vc_col-sm-3 {
		display: none;
	}
	.tb-advertise-2 .vc_col-sm-9 {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
		text-align: center;
	}
	.deviation-blog, .deviation-feature-box{
		.deviation-content-image{
			display: none;
		}
		.deviation-content-info{
			position: relative !important;
			transform: translate3d(0, 0, 0) !important;
			-webkit-transform: translate3d(0, 0, 0) !important;
			-ms-transform: translateX(0) translateY(0) !important;
			width: 100% !important;
			.deviation-content-title{
				width: 100% !important;
			}
			.feature-box-desc{
				width: 100% !important;
			}
		}
	}
}
@media (max-width: 767px) and (min-width: 361px){
	.footer-top .tb-widget-post-list ul.tb-post-list li .tb-meta{
		width: 100px;
	}
	.footer-top .widget.widget_tb_recent_work_widget ul li{
		width: 100px;
	}
	.wpb_tabs.woo-product-tabs .wpb_tabs_nav::after{
		border: none;
	}
	.wpb_tabs.woo-product-tabs .wpb_tabs_nav li{
		width: 100%;
		text-align: center;
		display: inline;
	}
}
@media (max-width: (480px)) {
	#wpadminbar{
		position: fixed;
	}
	.tb-blog{
		.blog-note{
			display: none; 
		}
	}
}
@media (max-width: 361px){
	.sidebar-right{
		.widget{
			.tb-post-side-ct{
				text-align: center;
			}
		}
	}
	.tb-blog.blog article .blog-info{
		> span{
			margin-left: 3px !important;
		}
	}
	.comment-form p.comment-form-author, 
	.comment-form p.comment-form-email, 
	.comment-form p.comment-form-url{
		width: 100%;
	}
	.deviation-blog, .deviation-feature-box{
		.deviation-content-image{
			display: none;
		}
		.deviation-content-info{
			position: relative !important;
			transform: translate3d(0, 0, 0) !important;
			-webkit-transform: translate3d(0, 0, 0) !important;
			-ms-transform: translateX(0) translateY(0) !important;
			width: 100% !important;
			.deviation-content-title{
				width: 100% !important;
			}
			.feature-box-desc{
				width: 100% !important;
			}
		}
	}
	.tb-header-wrap{
	.header-sidebar-inner{
			display: block;
		}
	}
	.rtb-booking-form .reservation, .rtb-booking-form .contact{
		width: auto !important;
	}
	.widget_mini_cart_wrap{
		.shopping_cart_dropdown{
			width: auto !important;
		}
	}
	.wpb_tabs.woo-product-tabs{
		.wpb_tabs_nav{
			&:after{
				border-color: transparent;
			}
			li{
				display: block;
			}
		}
	}
	.footer-top{
		text-align: center;
		.tb-col4{
			border: none !important;
			padding: 0 15px !important;
			.tb-social{
				text-align: center !important;
			}
		}
		.widget{
			p{
				text-align: center !important;
			}
		}
	}
}
.error-code-aqua{
	font-size: 72px;
    line-height: 1.2;
    margin-bottom: 0;
}
.btn-404-aqua{
	margin-top: 40px !important;
	border: none;
	&:hover{
		background: #444444 !important;
		color: #FFF !important;
	}
}
.tb-countdown-js{
	.tb-box-countdown{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 10px;
		span{
			display: inline-block;
			font-size: 45px;
			width: 80px;
			height: 80px;
			line-height: 74px;
			background: @tb_primary_color;
			color: #FFF;
		}
		p{
			font-size: 18px;
			font-weight: 600;
			margin: 10px 0;
		}
	}
}
/* Back to top */
#tb_back_to_top {
    /* border: 2px solid #e8e8e8;
    border-radius: 50%; */
    bottom: -40px;
    cursor: pointer;
    height: auto;
    margin: 0;
    position: fixed;
    right: 30px;
    transition: all .3s;
    z-index: 999;
    &.active {
	    bottom: 50px !important;
	    display: block !important;
	    opacity: 1 !important;
	}
	span {
	    background: #FFF;
	    color: #000;
	    border: solid 1px #000;
	    display: block;
	    height: 40px;
	    line-height: 38px;
	    text-align: center;
	    text-decoration: none;
	    transition: .3s;
	    -webkit-transition: .3s;
	    width: 40px;
	    i {
		    font-size: 15px;
		    line-height: 42px;
		    transition: color .3s;
		    -webkit-transition: color .3s;
		    font-size: 24px;
		} 
	}
	&:hover{
		span{
			background: @tb_primary_color;
			border-color: @tb_primary_color;
			i{
				color: #FFF;
			}
		}
	}
}
.ro-testimonial-scroll-wrapper{
	&:before{
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%) repeat scroll 0 0;
		content: " ";
		display: block;
		height: 80px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 512;
	}
	&:after{
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(243, 243, 240, 0) 0%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0.99) 99%, #f3f3f0 100%) repeat scroll 0 0;
	    bottom: 0;
	    content: " ";
	    display: block;
	    height: 80px;
	    left: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 512;
	}
}
.tb-shoptab-separator{
	border-top: 1px solid #eeeeee;
    height: 0;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
}
/*Page Demo*/
.tb-demo-absolute {
	position: absolute;
	top: 0;
	left: 0;
}
.tb-demo-title {
	margin: 20px 0 25px 0 !important;
}
.ro-demo-item {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    text-align: center;
	position: relative;
	.ro-content {
		background-color: #eeeeee;
		border: 1px solid #aaaaaa;
		margin-bottom: 20px;
		padding: 10px;
		position: relative;
		line-height: 0;
	}
	img {
		transition: all 0.4s ease 0s;
		width: 100%;
	}
	.ro-overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 512;
		opacity: 0;
		padding: 10px;
		transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		.ro-cell-vertical-wrapper {
			background-color: rgba(171, 220, 225, 0.7);
			display: table;
			height: 100%;
			width: 100%;
			.ro-cell-middle {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&.comming {
			opacity: 1;
			.ro-cell-vertical-wrapper {
				background-color: transparent;
			}
		}
	}
	&:hover {
		.ro-overlay {
			opacity: 1;
		}
	}
	&.ro-new:before {
		background: rgba(0, 0, 0, 0) url('assets/images/demo-new.png') no-repeat scroll 100% 100%;
		content: "";
		display: block;
		height: 40px;
		left: 45px;
		position: absolute;
		top: 25px;
		width: 75px;
		z-index: 20;
	}
}
@media(max-width: 1024px) {
	.tb-demo-hide-mobile {
		display: none;
	}
}
.tb-social-buttons .fa-facebook-f:before, .tb-social-buttons .fa-facebook:before {
    content: "\f09a";
}
.tb-social-buttons .fa-google-plus:before {
    content: "\f0d5";
}


@media(max-width: @screen-md - 1){
	.main-content{	
		>div{
			padding-left: 15px;
			padding-right: 15px;
		}
	}

}
.archive {
	.tb-blog article{
		.tb-content-block{
			padding-top: 20px;
		}
	}
}
