.pagination.text-left{
	text-align:left;
}
#tb-list-gallery{
	ul>li{
		padding:0;
		position:relative;
		>a{
		
		}
	}
}
body .tb-gallery{
	
	.row{margin:0!important;}
	
}
body .tb-gallery .instagram_feed, .tb-list-gallery{
	padding-left: 15px;
	a{
		background-size:cover!important;
	}
}

// gallery css for js

.instagram_feed, .tb-list-gallery{
	position: relative;
	height: auto;
}

.instagram_feed ul, .tb-list-gallery ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.tb-list-gallery ul:before,.tb-list-gallery ul:after{
	content: '';
    display: table;
}

.instagram_feed ul:after, .tb-list-gallery ul:after {
    clear: both;
}

.instagram_feed ul, .tb-list-gallery ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.instagram_feed ul li, .tb-list-gallery ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: transparent;
}
.instagram_feed:not(.gallery_grid) ul li{
	@media(max-width: @screen-md - 1){
		margin-bottom: 10px;
	}
}
.instagram_feed ul li > a, .tb-list-gallery ul li > a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer !important;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-size: cover;
}


/* Shadow style */
.instagram_feed:after, .tb-list-gallery:after,
.instagram_feed:before, .tb-list-gallery:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.instagram_feed:after, .tb-list-gallery:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.instagram_feed:after, .tb-list-gallery-loading:after,
.instagram_feed:before, .tb-list-gallery-loading:before{
	display: none;
}

.ri-loading-image{
	display: none;
}

.instagram_feed .ri-loading-image, .tb-list-gallery-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}
.tb-list-gallery{
	ul{
		margin:0;
		padding:0;
		list-style:none;
		li{
			margin-bottom:30px;
			position:relative;
			overflow:hidden;
			border-radius:7px;
			z-index:2;
			.tb-gallery-image{
				height:405px;
				
				img{
					width:100%;
					height:100%;
				}
			}
			.colorbox-wrap{
				//display:none;
			}
			.tb-info-block{
				position:absolute;
				padding-bottom:20px;
				width:100%;
				bottom:0px;
				background: url(assets/images/bg_shadown.png) no-repeat;
				background-size:cover;
				padding-left:20px;
				.blog-title,.author-name{
					color:#fff;
					margin-bottom:0;
				}
			}
		}
	}
	
}
.tb-gallery-footer .btn-pre-v2{
	font-family:dosis;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

// gallery grid
.grid-gallery{
	> div{
		&:not(.grid-item){
			float: left;
			position: relative;
		}
		img{
			width: 100%;
			height: auto;
			display: block;
		}
		.tb-content{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			z-index: 2;
			text-align: center;
			opacity: 0;
			.easing-animation;
			.tb-open-lighth-box,.cb-popup{
				height: 30px;
				width: 30px;
				color: #fff;
				border: 2px solid #fff;
				border-radius:50px;
				text-align: center;
				//line-height: 30px;
				//opacity: 0;
				z-index: 2;
				font-size: 28px;
				display: block;
				margin: auto;
			}
			p,h4{
				font-size: 13px;
				font-family: Roboto slab;
				color: @main-color;
				line-height: 30px;
				font-weight: 400;
				margin-bottom: 0 !important;
			}
			h4{
				font-weight: bold;
				color: #fff;
				font-size: 18px;
				text-transform: uppercase;
			}
		}
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: fadeout(#000, 30);
			content="";
			opacity: 0;
			z-index: 1;
			.easing-animation;
		}
		&:hover{
			&:after,.tb-content{
				opacity: 1;
			}
			.tb-open-lighth-box,.cb-popup{
				transform: translateY(30px);
			}
		}
	}
	&.tpl3{
		@media(min-width: @screen-md){
			max-width: 70%;
			margin: auto;
		}
		.grid-item{
			display: inline-block;
			@media(min-width: @screen-md){
				padding: 0 5px;
			}
			&:after{
				display: none;
			}
			&:not(:first-child){
				margin-left: -5px;
			}
			&:first-child{
				padding-left: 0;
			}
			&:first-right{
				padding-right: 0;
			}
		}
	}
}
.tb-overlay-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    display: none;
    &:before{
    	content:"";
    	width:100%;
    	height: 100%;
    	background-color:#000;
    	opacity:0.8;
    	position: fixed;
    }
    .tb-overlay-container {
	    height: 100%;
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    padding: 30px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    .tb-overlay-content {
		    line-height: 0;
		    width: 100%;
		    max-width: 900px;
		    background-color: #fff;
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    top:50%;
		    -webkit-transform:translateY(-50%);
		    -ms-transform:translateY(-50%);
		    transform:translateY(-50%);		
		    margin: 0 auto;
		    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    &.content-lightbox{
		    	background-color: transparent;
		    	box-shadow: none;
		    	img{
		    		display: inline-block;
		    	}
		    	.appointment-lightbox,.portfolio-lightbox{
		    		position: relative;
		    		display: inline-block;
		    		width:100%;
		    	}
		    	.appointment-lightbox{
	    		    padding: 0 70px 25px;
	    		    background-color: #fff;
	    		    max-height: 100vh;
	    		    overflow: auto;
	    		    .tb-close{
	    		    	background-color: @jws_theme_primary_color;
	    		    	&:hover{
	    		    		background-color: #fff;
	    		    		color:@jws_theme_primary_color;
	    		    	}
	    		    }
		    	}
		    	.tb-close{
		    		position: absolute;
				    right: 0;
				    border: 1px solid @jws_theme_primary_color;
				    color: #fff;
				    box-shadow: none;
				    top: 0;
				    outline: none;
				    border-radius: 0;
				    &:hover{
				    	background-color: @jws_theme_primary_color;
				    }
		    	}
		    }
		    .tb-iframe-scaler{
		    	width: 100%;
			    overflow: hidden;
			    padding-top: 56.25%;
		    	iframe{
			    	position: absolute;
				    display: block;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    box-shadow: 0 0 8px rgba(0,0,0,0.6);
				    background: black;
				    max-width: 100%!important;
			    }
		    }
		}
	}
}

.tb-gallery{
	a.btn-button{
		display: inline-block;
		@media(min-width: @screen-sm){
			margin-right: 7px;
		}
		&.btn-button-2{
			background-color: #444;
		}
	}
	
}
.instagram_feed{
	max-width: 950px;
	margin: auto;
	ul>li>a{
		margin: 0 10px;
	}
}
.gallery_grid{
	ul>li>a{
		margin: 0;
	}
}
.grid-item{
	img{
		width: initial;
		height: initial;
	}
}
.grid-gallery{
	width: 100%;
	@media(min-width: @screen-lg){
		padding-left: 100px;
		padding-right: 100px;
	}
}
.grid-gallery.tpl2{
	.grid-item{
		float: left;
		>img{
			width: 384px;
			height: 480px;
		}
		position: relative;
		overflow: hidden;
	}
	.gallery-normal-thumb{
		>img{width: 348px;
		height: 350px;
		}
	}
	.gallery-vertical-thumb{
		>img{width: 576px;
		height: 350px;
		}
	}
	.gallery-small-thumb{
		>img{width: 384px;
		height: 220px;
		}
	}
	
	
}


@media(min-width: @screen-md){
	.instagram_feed{
		&:not(.gallery_grid){
			ul>li>a{
				width: 148px !important;
				height: 108px !important;
				background-position: center center;
			}
		}
	}
}