.woocommerce .tb-action {
	padding-top: 11px;
	// border-top: 1px solid #ececec;
	> div.clear {
		display: none;
	}
	.tb-product-btn{
		display: inline-block;
		&:first-child{
			> div{
				margin-left: 0;
			}
		}
		&.tb-btn-tocart{
			>a.loading{
				&:after{
					font-size: 13px;
					display: inline-block;
					width: 12px;
					font-style: initial;
					height: 12px;
					color: #fff;
					top: 13px;
					right: 10px;
					line-height: initial;
				}
			}
			
		}
		&.tb-btn{
			&.tb-btn-tocart{
				>a.loading{
					&:after{
						-webkit-animation: initial;
						animation: initial;
					}
				}
			}
		}
	}
	.yith-wcwl-add-to-wishlist {
		.transition(all 0.4s ease 0s);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		border-radius: 50%;
		background-color: #ccc5c3;
		padding: 0;
		margin: 0;
		margin-left: 5px;
		overflow: hidden;
		.add_to_wishlist {
			position: absolute;
			display: inline-block;
			overflow: hidden;
			z-index: 2;
			position: relative;
			opacity: 0;
		}
		.yith-wcwl-add-button {
			&:before {
				.transition(all 0.4s ease 0s);
				content:"\f387"!important;
				font-family: Ionicons !important;
				color: #fff;
				position: absolute;
				top: 50%;
				font-size: 18px;
				font-weight: 300;
				width:100%;
				text-align: center;
				left: 50%;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-o-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
			&:hover{
				&:before{
					color:@main-color;
				}
			}
		}
		.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
		.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
			> span {
				opacity: 0;
			}
			> a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
			&:before {
				.transition(all 0.4s ease 0s);
				font-family: "Ionicons";
				content: "\f498";
				//font-family: 'Pe-icon-7-stroke';
				//content: "\e67a";
				color: #fff;
				font-weight: 300;
				position: absolute;
				top: 50%;
				left: 0;
				width:100%;
				text-align: center;
				font-size: 21px;
				-webkit-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
				-o-transform:translateY(-50%);
				-ms-transform:translateY(-50%);
				transform:translateY(-50%);
			}
		}
		
		&:hover {
			background: #191d30;
			border-color: #191d30;
			.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
			.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show{
				&:before{
					color:@main-color;
				}
			}
			
		}
	}
	.yith-wcqv-button{
		.transition(all 0.4s ease 0s);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		border-radius: 50%;
		background-color: #ccc5c3;
		padding: 0;
		margin: 0;
		overflow: hidden;
		&:before {
			.transition(all 0.4s ease 0s);
			font-family: 'Ionicons';
			content: "\f4a5";
			color: #fff;
			position: absolute;
			top: 50%;
			font-size: 18px;
			font-weight: 300;
			width:100%;
			text-align: center;
			left: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-o-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover{
			background: #191d30;
			border-color: #191d30;
			&:before{
				color:@main-color;
			}
		}
	}
	.compare-button {
		.transition(all 0.4s ease 0s);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		background-color: #ccc5c3;
		border-radius: 50%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		.compare {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			
		}
		&:before {
			.transition(all 0.4s ease 0s);
			font-family: "Ionicons";
			content: "\f4a9";
			color: #fff;
			position: absolute;
			font-weight: 700;
			top: 50%;
			font-size: 18px;
			left: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-o-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			background: #191d30;
			&:before {
				color: @main-color;
			}
		}
	}
	.tb-btn-tocart{
		position: relative;
		a{
			.easing-animation;
			position: relative;
			width: 155px;
			@media(max-width: @screen-lg - 1) and (min-width: @screen-md){
				width: 140px;
			}
			height: 42px;
			color:#fff;
			line-height: 42px;
			text-align: center;
			border-radius: 22px;
			background-color: #2b2b2b;
			text-transform: uppercase;
			font-style: italic;
			font-size: 12px;
			padding: 0;
			margin-top: initial;
			&.added_to_cart{
				
			}
		}
		a.wc-forward{
			display: none;
		}
		&:hover{
			a{
				background-color: @main-color;
				color: #fff;
			}
		}
	}
}

@media(max-width: @screen-sm - 1){
	.tb-product-carousel{
		&.tpl1{
			.tb-product-item-inner{
				max-width: 305px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@media(max-width: @screen-md - 1){
	.tb-product-carousel{
		&.tpl3{
			.product{
				max-width: 370px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

////////////////////////////////////////////////////////

.ro-custom-section-product{
  .tb-product-carousel.tpl1{
	    max-width: 620px;
		margin-left: auto;
		margin-right: auto;
		.tb-product-item-inner{
			 max-width: 305px;
			margin-left: auto;
			margin-right: auto;
		}
  }
}
.woocommerce {
	.tb-product-item-inner{
		.tb-image{
			>span{
				position: absolute;
				color: #fff;
				background-color: @main-color;
				width: 50px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				z-index: 2;
				top: 10px;
				font-style: italic;
				font-size: 11px;
				&.onsale{
					left: initial;
					right: 0;
					border-radius: 0;
					min-height: initial;
				}
			}
		}
		.tb-footer-content{
			text-align: center;
			.tb-title{
				font-size: 14px;
				line-height: 38px;
				color: #666666;
				font-family: Roboto Slab;
				font-weight: bold;
				text-transform: uppercase;
			}
			.star-rating{
				float: none;
				margin-left: auto;
				margin-right: auto;
				font-size: 12px;
			}
			.tb-price-rating{
				span.price{
					font-size: 16px;
					font-style: italic;
					line-height: 24px;
					display: block;
					margin-top: 12px;
					.amount{
						color: @main-color;
					}
					del{
						opacity: 1;
						color: #bfbfbf;
						vertical-align: middle;
						.amount{
							color: #bfbfbf;
							font-size: 16px;
						}
					}
					ins{
						color: @main-color;
					}
				}
			}
		}
		.tb-content{
			padding-bottom: 47px;
			background-color: #fff;
		}
		
		.tb-header-content{
			.tb-action{
				text-align: center;
				margin-top: 7px;
			}
		}
	}
}

.tb-product-carousel{
	position: relative;
	.owl-controls{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		.owl-nav{
			position: relative;
			>div{
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				background-color: transparent;
				border: 1px solid #fff;
				display: inline-block;
				position: absolute;
				left: -90px;
				@media(max-width: 1395px){
					left: -51px;
				}
				top: 0 !important;
				i{
					color: #fff;
				}
				&.owl-next{
					right: -90px;
					@media(max-width: 1395px){
						right: -51px;
					}
					left: initial;
				}
				&:hover{
					border-color: @main-color;
					background-color: @main-color;
				}
			}
		}
	}
	&.tpl3{
		.tb-product-item-inner{
			.tb-content{
				@media(min-width: @screen-lg){
					background-color: transparent;
					padding: 0 20px;
					position: relative;
					top: -75px;
					padding-bottom: 0;
				}
				.tb-footer-content{
					background-color: #fff;
					padding-top: 28px;
					
					.stock{
						color: @main-color;
						font-size: 12px;
						font-style: italic;
						text-transform: capitalize;
						line-height: 18px;
					}
					.tb-price-rating span.price{
						margin-top: 0;
						margin-bottom: 18px;
					}
				}
			}
		}
	}
	&.tpl4{
		.product{
			@media(max-width: @screen-sm - 1){
				max-width: 285px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.tb-product-item-inner{
			.tb-image{
				position: relative;
				&:after{
					content="";
					background-color: fadeout(#000, 30);
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					.easing-animation;
					display: inline-block;
				}
				.tb-action{
					margin-top: 0;
					padding-top: 0;
					position: absolute;
					text-align: center;
					top: 50%;
					left: 50%;
					width: 100%;
					-webkit-transform: translate(-50%, -50%) scale(0.5);
					-moz-transform: translate(-50%, -50%) scale(0.5);
					-ms-transform: translate(-50%, -50%) scale(0.5);
					transform:  translate(-50%, -50%) scale(0.5);
					visibility: hidden;
					opacity: 0;
					-webkit-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
					-moz-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
					transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
					.tb-btn-tocart a{
						width: 130px;
						height: 40px;
						line-height: 40px;
						background-color: @main-color;
					}
					.yith-wcwl-add-to-wishlist{
						width: 40px;
						height: 40px;
						line-height: 40px;
						background-color: transparent;
						border: 2px solid #fff;
						&:hover{
							border-color: @main-color;
							&:before{
								color: @main-color;
							}
						}
					}
					.compare-button{
						width: 40px;
						height: 40px;
						line-height: 40px;
						background-color: transparent;
						border: 2px solid #fff;
						&:hover{
							border-color: @main-color;
							&:before{
								color: @main-color;
							}
						}
					}
				}
			}
			.tb-content{
				background-color: #fbfbfb;
				padding-bottom: 41px;
				padding-top: 30px;
				 .tb-footer-content{
					 .tb-price-rating span.price{
						margin-top: 0;
						del{
							color: #666;
							font-size: 14px;
							.amount{
								color: #666;
							}
						}
						ins{
							.amount{
								color: #666;
								font-size: 16px;
							}
						}
					 }
					 .tb-title{
						color: #454545;
						font-size: 16px;
					}
					.star-rating{
						font-size: 11px;
						&:before{
							color: @main-color;
						}
					}
				 }
			}
			&:hover{
				.tb-image{
					&:after{
						opacity: 1;
					}
					.tb-action{
						z-index: 2;
						visibility: visible;
						opacity: 1;
						-webkit-transform: translate(-50%, -50%) scale(1);
						-moz-transform: translate(-50%, -50%) scale(1);
						-ms-transform: translate(-50%, -50%) scale(1);
						transform:  translate(-50%, -50%) scale(1);
					}
				}
			}
		}
	}
}
.ro-product-v3{
	.tb-product-carousel.tpl3 .tb-product-item-inner .tb-content .tb-footer-content{
		background-color: #fbfbfb;
	}
}

.tb-products-list.tpl3{
	.tb-product-items{
		>[class*="col-"]{
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			padding-right: 5px;
			padding-left: 5px;
			.tb-product-item-inner{
				border: 1px solid #eee;
				
				margin-bottom: 7px;
				.onsale{
					top: 10px;
					height: 20px;
					line-height: 20px;
				}
			}
			
		}
	}
}

.tb-product-carousel,.tb-wrap-carousel{
	.owl-theme .owl-dots .owl-dot span{
		display: none;
	}
	.owl-theme .owl-nav [class*=owl-]{
		background: transparent;
		padding: 0;
		border-radius: 0;
		&:hover{
			background: transparent;
		}
	}
}
.archive.woocommerce .tb-action .tb-btn-tocart a{
	@media(max-width: @screen-lg - 1) and (min-width: @screen-md){
		width: 120px;
		height: 40px;
		line-height: 40px;
	}
}
.woocommerce .products .tb-product-items .tb-product-item .tb-product-item-inner .tb-item-content-image .tb-item-button .tb-btn >a.added{
	&:before{
		font-family: FontAwesome !important;
		content: '\f00c' !important;
	}
}