body .ro-service-v3{
	background-size: contain;
	@media(max-width: @screen-md - 1){
		background: initial !important;
	}
	@media(min-width: 1730px){
		background-position: 50px 0 !important;
	}
	@media(min-width: 1880px){
		background-position: 100px 0 !important;
	}
	
	
}
.ro-service-wrap{
	.ro-service-item-6{
		position: relative;
		background-color: #fff7fb;
		.easing-animation;
		padding: 70px 0 50px;
		@media(max-width: @screen-sm - 1){
			max-width: 305px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
		.ro-service-content{
			.img-inner{
				width: 120px;
				height: 120px;
				margin-left: auto;
				margin-right: auto;
				line-height: 120px;
				text-align: center;
				img{
					vertical-align: middle;
				}
			}
			h4{
				font-weight: 600;
				line-height: 30px;
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 24px;
			}
			p{
				font-family: "Josefin Sans";
				font-style: italic;
				color: #454545;
				font-weight: 600;
				opacity: 1;
				.easing-animation;
			}
			.subtitle{
				font-family: "Roboto Slab";
				font-weight: 400;
				color: @main-color;
				font-style: normal;
				font-size: 13px;
				margin-bottom: 7px !important;
				display: inline-block;
				opacity: 1 !important;
			}
			a{
				height: 50px;
				line-height: 50px;
				text-align: center;
				width: 175px;
				text-transform: uppercase;
				color: #fff;
				font-style: italic;
				font-size: 12px;
				font-family: "Josefin Sans";
				background-color: #444;
				border-radius: 25px;
				display: inline-block;
				//opacity: 0;
				//display: none;
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
				opacity: 0;
			}
		}
		&:hover{
			background-color: #ffefd3;
			.ro-service-content{
				p{
					opacity: 0;
				}
				a{
					transform: translate(-50%, -80px);
					opacity: 1;
				}
			}
		}
	}
	.ro-service-item-8{
		img{
			margin-bottom: 10px;
		}
		h4{
			color: #666;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.sub_title{
			text-transform: transform;
			color: @main-color;
			font-family: Roboto Slab;
			font-weight: 400;
		}
		a{
			margin-top: 35px;
			margin-left: 0;
		}
		padding-left: 30px;
		padding-top: 50px;
		padding-bottom: 70px;
		@media( min-width: @screen-md ){
			padding-left: 110px;
			padding-top: 90px;
			padding-bottom: 110px;
		}
		@media( min-width: @screen-lg ){
			padding-left: 210px;
			padding-top: 135px;
			padding-bottom: 172px;
		}
	}
	.ro-service-item-9{
		.tb-icon,.tb-content{
			float: left;
		}
		@media(max-width: @screen-sm - 1){
			max-width: 315px;
			margin-left: auto;
			margin-right: auto;
		}
		.tb-icon{
			width: 92px;
			height: 92px;
			line-height: 115px;
			text-align: center;
			border-radius: 50%;
		}
		.tb-content{
			width: ~'calc(100% - 92px)';
			padding-left: 20px;
			position: relative;
			padding-top:20px;
			@media(max-width: @screen-lg - 1) and (min-width: @screen-sm){
				width: 100%;
				padding-left: 0;
				max-width: 315px;
				margin-left: auto;
				margin-right: auto;
			}
			h3{
				font-size: 16px;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				margin-bottom: 5px;
			}
			span.num{
				color: #f3f3f3;
				font-size: 60px;
				position: absolute;
				top: 20px;
				right: 0px;
				@media(min-width: @screen-lg){
					right: -18px;
				}
			}
		}
		
	}
	.ro-service-item-11{
		text-align: center;
		.tb-icon{
			width: 90px;
			height: 90px;
			background-color: #fbfbfb;
			text-align: center;
			line-height: 90px;
			.easing-animation;
			border-radius: 5px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			margin-bottom: 13px;
			img{
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				+img{
					display: none;
				}
			}
		}
		.tb-content{
			h4{
				font-size: 20px;
				font-weight: bold;
				color: #333;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.sub_title{
				color: @main-color;
				font-size: 15px;
				margin-bottom: 5px !important;
				font-style: normal;
			}
		}
		&:hover{
			.tb-icon{
				background-color: @main-color;
				>img{
					display: none;
					+img{
						display: block;
					}
				}
			}
		}
	}
}
.tb-img-left{
	img{
		position: relative;
		@media(min-width: @screen-lg){
			top: -85px;
		}
	}
	.wpb_content_element{
		margin-bottom: 0; 
		display: block;
	}
	
	
	
}
body .tb-appointment{
	.wbp-title.tpl3 .wbp-title-content h1{
		text-transform: capitalize;
	}
	.ro-service-wrap .tb-incremental .tb-title{
		color: #666;
	}
	.btn-button{
		margin-left: 0;
		background-color: #444;
	}
	@media(max-width: @screen-lg - 1){
		background-size: cover;
		margin-bottom: 120px !important;
	}
}

.tb-pricing{
	position: relative;
	z-index: 0;
	padding-bottom: 50px;
	@media(max-width: @screen-md - 1){
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	&.tpl1{
		background: url('assets/images/bg-pricing.jpg') no-repeat bottom center;
		&:after{
			content="";
			background-color: fadeout(@main-color, 20);
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: 0;
			.easing-animation;
		}
		.tb-pricing-top{
			background-color: #444444;
			&:after{
				content:"";
				height: 26px;
				width: 100%;
				border-radius: 100%;
				bottom: -13px;
				position: absolute;
				left: 0;
				background-color: #444;
			}
		}
	}
	.tb-pricing-content{
		position: relative;
		z-index: 2;
		.tb-pricing-top{
			padding-top: 40px;
			position: relative;
			padding-bottom: 25px;
			h4{
				font-size: 16px;
				line-height: 26px;
				color: #fff;
				margin-bottom: 0;
				text-transform: uppercase;
				position: relative;
				z-index: 3;
			}
			p.sub_title{
				font-size: 12px;
				line-height: 24px;
				color: @main-color;
				font-style: italic;
				position: relative;
				z-index: 5;
			}
		}
		.pricing-content{
			position: relative;
			padding-top: 35px;
			p{
				font-size: 16px;
				line-height: 30px;
				color: #444;
				font-style: italic;
				font-weight: bold;
			}
			span.tb_num{
				height: 90px;
				width: 90px;
				line-height: 120px;
				text-align: center;
				background-color: #444;
				position: absolute;
				top: -54px;
				color: #fff;
				font-style: normal;
				border-radius: 50%;
				display: inline-block;
				font-size: 18px;
				z-index: 2;
				left: 50%;
				transform: translateX(-50%);
			}
			span.tb-price{
				font-weight: bold;
				text-transform: uppercase;
				color: #555;
				margin-top: 33px;
				display: inline-block;
				font-size: 12px;
				ins{
					background: transparent;
					font-family: Roboto slab;
					font-size: 36px;
					font-style: normal;
					strong{
						color: @main-color;
					}
				}
			}
		}
		a.btn-button{
			margin-top: 40px;
			width: 170px;
			@media(min-width: @screen-sm) and(max-width: @screen-md - 1){
				width: 120px;
				height: 35px;
				line-height: 35px;
			}
		}
	}
	&.tpl2{
		padding-bottom: 0;
		.t-price{
			font-size: 30px;
			color: #fff;
		}
		.tb-pricing-content{
			background-color: #1a1a1a;
			.easing-animation;
			padding-bottom: 55px;
			.tb-pricing-top{
				padding-top: 52px;
				position: relative;
				padding-bottom: 30px;
			}
			.pricing-content{
				padding-top: 55px;
				p{
					color: #fff;
				}
			}
		}
	}
	&:hover{
		&:after{
			opacity: 1;
			
		}
		a.btn-button{
			background-color: #fff;
			color: #666;
		}
		.tb-pricing-content .pricing-content{
			p{
				color: #fff;
			}
			span.tb-price{
				
				color: #fff;
				ins{
					color: #fff;
					strong{
						color: #fff;
					}
				}
			}
		}
		&.tpl2{
			.tb-pricing-content{
				background-color: @main-color;
				
			}
		}
	}
	&.tpl3{
		max-width: 430px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		height: 225px;
		display: inline-block;
		border-radius: 10px;
		@media(min-width: @screen-md) and (max-width: 1325px ){
			margin-bottom: 35px;
		}
		.tb-pricing-content{
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 400px;
			margin: auto;
			height: 196px;
			position: absolute;
			color: #fff;
			top: 50%;
			border-radius: 10px;
			left: 50%;
			transform: translate(-50%,-50%);
			padding-top: 55px;
			padding-left: 60px;
			text-align: left;
			h4{
				color: #fff;
				text-transform: uppercase;
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 15px;
			}
			ul li{
				color: #fff;
				i{
					color: #fff;
				}
			}
			.t-price{
				width: 100px;
				height: 100px;
				border-radius: 50px;
				position: absolute;
				background-color: #1d1d1d;
				color: #fff;
				text-align: center;
				padding-top: 22px;
				right: 40px;
				bottom: -65px;
				ins{
					color: @main-color;
					display: block;
					background-color: transparent;
					line-height: 15px;
				}
				&:after{
					position: absolute;
					top: -4px;
					left: -4px;
					bottom: -4px;
					right: -4px;
					content="";
					border: 2px dashed #1d1d1d;
					border-radius: 50%;
				}
			}
			
		}
	}
}
@media(max-width: @screen-sm - 1){
	.ro-service-wrap .tb-incremental{
		text-align: center;
	}
}
.ro-service-wrap{
	&.has_image{
		.tb-incremental{
			.tb-title{
				color: #666;
			}
		}
		.tb-icon,.tb-countup-content{
			float: left;
		}
		.tb-icon{
			width: 48px;
		}
		.tb-countup-content{
			width: ~'calc( 100% - 48px)';
			padding-left: 15px;
		}
	}
	&.tpl7{
		.tb-incremental{
			@media(max-width: @screen-sm - 1){
				max-width: 263px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

body .tb-content-newsletter{
	background-position: center center !important;
	position: relative;
	top: -60px;
}
.ro-pricing-h3{
	max-width: 870px;
	margin-left: auto !important;
	margin-right: auto !important;
}

// service tpl10

.ro-service-wrap{
	 &.tpl10{
		width: 17%;
		.easing-animation;
		float: left;
		display: inline-block;
		.ro-service-item-10 {
			position: relative;
			.tb-image{
				position: relative;
				width: 170px;
				float: left;
				>img{
					height: auto;
					width: 170px;
					height: 170px;
					border-radius: 50%;
					display: block;
				}
				.tb-icon{
					position: absolute;
					width: 90px;
					height: 90px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #fbfbfb;
					text-align: center;
					line-height: 90px;
					.easing-animation;
					bottom: -30px;
					left: 50%;
					transform: translateX(-50%);
					img{
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						+img{
							display: none;
						}
					}
				}
			}
			.tb-content{
				float: left;
				opacity: 0;
				width: ~'calc(100% - 200px)';
				overflow: hidden;
				padding-top: 22px;
				display: none;
				position: absolute;
				.easing-animation;
				padding-left: 63px;
				
				h4{
					font-size: 20px;
					font-weight: bold;
					color: #333;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				p{
					color: #666;
					font-style: italic;
					width: 300px;
				}
				.sub_title{
					color: @main-color;
					font-size: 15px;
					margin-bottom: 5px !important;
					font-style: normal;
				}
			}
		}
		@media(min-width: @screen-lg){
			&.active{
				width: 49%;
				.ro-service-item-10 {
					.tb-content{
						opacity: 1;
						display: inline-block;
					}
				}
				.tb-image{
					width: 200px;
					>img{
						width: 200px;
						height: 200px;
					}
					.tb-icon{
						bottom: initial;
						top: 50%;
						transform: translateY(-50%);
						left: initial;
						right: -35px;
						background-color: @main-color;
						>img{
							display: none;
							+img{
								display: block;
							}
						}
					}
				}
			}
		}
		@media(max-width: @screen-lg - 1){
			width: 49%;
			margin-bottom: 30px;
			.ro-service-item-10 {
				.tb-content{
					opacity: 1;
					display: inline-block;
					padding-left: 15px;
					padding-top: 10px;
					p{
						width: initial;
						br{
							display: none;
						}
					}
				}
			}
			.tb-image{
				width: 200px;
				>img{
					width: 200px;
					height: 200px;
				}
				.tb-icon{
					bottom: initial;
					top: 50%;
					transform: translateY(-50%);
					left: initial;
					right: -35px;
					background-color: @main-color;
					>img{
						display: none;
						+img{
							display: block;
						}
					}
				}
			}
		}
		@media(max-width: @screen-md - 1){
			width: 100%;
			margin-bottom: 30px;
		}
		@media(max-width: 500px){
			.ro-service-item-10{
				.tb-content{
					position: initial;
					width: 100%;
					text-align: center;
				}
				.tb-image{
					margin: auto;
					float: none;
				}
			}
		}
	 }
}
.tb-decs-service{
	p{
		font-size: 16px;
		font-style: italic;
		color: #666;
		&.sub-title{
			font-family: Roboto slab;
			color: #888;
			font-style: normal;
			font-weight: 400;
			margin-bottom: 10px !important;
		}
	}
	h3{
		font-size: 36px;
		text-transform: uppercase;
		strong{
			color: @main-color;
		}
	}
	ul>li{
		font-style: italic;
		color: #666;
		i{
			color: @main-color;
			margin-right: 15px;
		}
	}
	a.btn-button{
		background-color: #1f1f1f;
		margin-left: 0;
		margin-top: 42px;
	}
}
.tb-service-left,.tb-service-right{
	background-size: cover;
}
.tb-service-left{
	a.btn-button{
		background-color: #1f1f1f;
	}
}
.tb-service-right{
	.wbp-title.tpl4{
		p{
			color: #bbbbbb;
		}
		p.sub-title{
			color: #dddddd;
		}
		h1{
			color: #fff;
		}
	}
}

.col-service-countup{
	position: relative;
	@media(min-width: @screen-lg){
		&:after{
			content="";
			width: 1330px;
			height: 185px;
			background-color: #fff7fc;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			//z-index: 2;
			position: absolute;
		}
	}
	.ro-service-wrap{
		z-index: 3;
		position: relative;
		text-align: center;
		margin-top: 20px;
		.tb-incremental{
			.tb-title{
				font-size: 35px;
				color: #333333;
			}
			p{
				text-transform: capitalize;
			}
		}
	}
	@media(min-width: @screen-md){
		.vc_column_container{
			&:not(:first-child){
				.ro-service-wrap{
					border-left: 1px dashed #868686;
				}
			}
		}
	}
	
}

.ro-service-spa{
	background-size: cover;
    background-position: center center !important;
	.wpb_text_column {
		h2{
			color: #fff;
			text-transform: uppercase;
			font-style: italic;
			font-family: "Josefin Sans";
			font-weight: bold;
			margin-bottom: 23px;
			ins{
				background: transparent;
				color: @main-color;
			}
		}
		p{
			color: #dddddd;
			font-style: italic;
			font-size: 18px;
			font-size: 600;
		}
		a.btn-button{
			margin-top: 12px;
			display: inline-block;
		}
	}
}

.col-service-spa2{
	.wbp-title.tpl3{
		.wbp-title-content{
			>span{
				letter-spacing: 2px;
			}
			.title-content{
				h1{
					text-transform: uppercase;
					margin-bottom: 10px;
					color: #444;
				}
			}
		}
	}
	.col-20{
		&:not(:first-child){
			@media(min-width: @screen-md){
				position: relative;
				&:before{
					content="";
					width: 1px;
					height: 65px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					border-left: 1px dashed #444;
					display: inline-block;
				}
			}
		}
	}
}
.tb-pricing-spa2{
	position: relative;
	&:after{
		background-color: #fbfbfb;
		content: "";
		position: absolute;
		top: 135px;
		left:0;
		right: 0;
		bottom: 0;
		display: inline-block !important;
		z-index: -1;
	}
	text-align: center;
	.tb-pricing{
		&:not(:last-child){
			margin-right: 5px;
		}
	}
}

@media(max-width: @screen-sm - 1){
	.tb-appointment .col-right-appoint{
		text-align: center;
		.btn-button{
			margin-left: auto;
			margin-right: auto;
		}
	}
}