.tb-spa{
	article{
		margin-bottom: 30px;
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	.tb-blog-image{
		img{
			display: block;
			border-radius: 5px;
		}
	}
	.tb-content-block{
		padding-top: 39px;
		position: relative;
		.tb-price{
			font-size: 16px;
			font-weight: 500;
			color: @main-color;
			font-style: italic;
			width: 170px;
			line-height: 47px;
			height: 47px;
			text-align: center;
			position: absolute;
			top: -24px;
			background-color: #fafafa;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 23px;
		}
		h2.blog-title{
			font-size: 20px;
			color: #333;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.blog-desc{
			color: #666;
			font-style: italic;
			font-size: 15px;
		}
	}
	.line{
		border-top: 2px dashed #e0e0e0;
		height: 1px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 40px;
		display: block;
		magin-top: 5px;
	}
}