.tb-overlay-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    display: none;
    &:before{
    	content:"";
    	width:100%;
    	height: 100%;
    	background-color:#000;
    	opacity:0.8;
    	position: fixed;
    }
    .tb-overlay-container {
	    height: 100%;
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    padding: 30px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    .tb-overlay-content {
		    line-height: 0;
		    width: 100%;
		    max-width: 900px;
		    background-color: #fff;
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    top:50%;
		    -webkit-transform:translateY(-50%);
		    -ms-transform:translateY(-50%);
		    transform:translateY(-50%);		
		    margin: 0 auto;
		    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    &.content-lightbox{
		    	background-color: transparent;
		    	box-shadow: none;
		    	img{
		    		display: inline-block;
		    	}
		    	.portfolio-lightbox{
		    		position: relative;
		    		display: inline-block;
		    		width:100%;
		    	}
		    	.tb-close{
		    		position: absolute;
				    right: 0;
				    border: 1px solid #fff;
				    color: #fff;
				    box-shadow: none;
				    top: 1px;
				    outline: none;
				    border-radius: 0;
				    &:hover{
				    	background-color: @tb_primary_color;
				    }
		    	}
		    }
		    .tb-iframe-scaler{
		    	width: 100%;
			    overflow: hidden;
			    padding-top: 56.25%;
		    	iframe{
			    	position: absolute;
				    display: block;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    box-shadow: 0 0 8px rgba(0,0,0,0.6);
				    background: black;
				    max-width: 100%!important;
			    }
		    }
		}
	}
}

.tb-custom-video{
	.wbp-title.tpl3 .wbp-title-content .title-content{
		span.bottom-subtitle{
			
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 0 !important;
			font-family: Roboto slab;
		}
		h1{
			text-transform: capitalize;
			font-weight: 400;
			color: #fff;
			font-size: 42px;
			margin-bottom: 15px;
		}
		p{
			margin-top: 12px;
			color: #fff;
		}
	}
	.ro-fancybox-wrap {
		text-align: center;
	}
}